/*JCE Editor - 2.3.4.3 | 11 December 2013 | http://www.joomlacontenteditor.net | Copyright (C) 2006 - 2013 Ryan Demmer. All rights reserved | GNU/GPL Version 2 or later - http://www.gnu.org/licenses/gpl-2.0.html*/
@import url('../../../../../components/com_jce/editor/libraries/css/colorpicker.css?20ecfe69f02983bf0db3a13c6a6d06fb');span.colorpicker_widget{background:url("../../../../../components/com_jce/editor/libraries/img/icons.png") no-repeat 0 -1000px;width:16px;height:16px;cursor:pointer;vertical-align:middle;display:inline-block;margin:4px 5px 2px 5px;}