/**
 * Popup stylesheet
 *
 * @package         NoNumber Framework
 * @version         14.7.5
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2014 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
body.nnpopup {
  padding: 0;
}
body.nnpopup .container-fluid {
  padding: 0 20px;
}
body.nnpopup .subhead {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
body.nnpopup .page-title {
  text-align: left;
}
body.nnpopup .header {
  margin-left: 0;
  margin-right: 0;
}
body.nnpopup .btn-toolbar {
  margin-bottom: 3px;
}
