/* Compiled Less CSS File */
/* Generated from "style6.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  background-color: #4a4a4a;
  text-shadow: 1px 1px 1px #171717;
}
.btn.icebtn:hover,
p.readmore a.btn:hover {
  background-color: #636363;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #575757;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #575757;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #575757;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #575757;
}
.tooltip .tooltip-inner {
  background-color: #575757;
}
/* Joomla 
----------*/
.mailto-close a {
  background-color: #3d3d3d;
}
#search form .inputbox,
#search form .input-medium {
  border-color: #dbdbdb;
}
#search form .inputbox:focus,
#search form .input-medium:focus {
  border-color: #cccccc;
}
/* Extras 
---------*/
.iceslide_link {
  background-color: #575757;
  background-color: rgba(87, 87, 87, 0.75);
}
.iceslide_link:hover {
  background-color: #575757;
}
#iceslide .close {
  background-color: #575757;
  background-color: rgba(87, 87, 87, 0.75);
}
#iceslide .close:hover {
  background-color: #575757;
}
#gotop .scrollup {
  background-color: #e28830;
  background-color: rgba(226, 136, 48, 0.5);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #e28830;
  background-color: rgba(226, 136, 48, 0.75);
}
p#icelogo a {
  background-image: url("../../images/styles/style6/icetheme.png");
}
#section-kmt h3.kmt-title {
  background-color: #3d3d3d;
  text-shadow: 1px 1px 1px #171717;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background: -moz-linear-gradient(top, #575757, #3d3d3d);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#575757), to(#3d3d3d));
  background: -webkit-linear-gradient(top, #575757, #3d3d3d);
  background: -o-linear-gradient(top, #575757, #3d3d3d);
  background: linear-gradient(to bottom, #575757, #3d3d3d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff575757', endColorstr='#ff3d3d3d', GradientType=0);
}
#weather span.weather-temp {
  color: #c46e1b;
}
#weather i {
  color: #e59546;
}
/* Layout 
---------*/
#header {
  background: -moz-linear-gradient(top, #eaeaea, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeaea), to(#ffffff));
  background: -webkit-linear-gradient(top, #eaeaea, #ffffff);
  background: -o-linear-gradient(top, #eaeaea, #ffffff);
  background: linear-gradient(to bottom, #eaeaea, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeaeaea', endColorstr='#ffffffff', GradientType=0);
}
#header #header_right #header_contact [class^="icon-"] {
  color: #575757;
}
#usermenu {
  background: #575757;
}
#content:before {
  background: -moz-linear-gradient(top, #e3e3e3, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e3e3e3), to(#ffffff));
  background: -webkit-linear-gradient(top, #e3e3e3, #ffffff);
  background: -o-linear-gradient(top, #e3e3e3, #ffffff);
  background: linear-gradient(to bottom, #e3e3e3, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3e3e3', endColorstr='#ffffffff', GradientType=0);
}
#content #message {
  border-left-color: #3d3d3d;
}
#content #sidebar .sidebar_module {
  background: #eaeaea;
  /* joomla menu on sidebar */

}
#content #sidebar .sidebar_module .sidebar_module_heading {
  border-left-color: #3d3d3d;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 {
  background: #3d3d3d;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #0a0a0a;
  border-bottom-color: #636363;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .icebtn {
  background: #636363;
  text-shadow: 1px 1px 1px #242424;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .icebtn:hover {
  background: #7d7d7d;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 {
  background: #975515;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #3d2309;
  border-bottom-color: #da7b1e;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .icebtn {
  background: #da7b1e;
  text-shadow: 1px 1px 1px #6a3c0f;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .icebtn:hover {
  background: #e59546;
}
#content #sidebar .sidebar_module ul.menu li a {
  border-bottom-color: #c2c2c2;
}
#content #sidebar .sidebar_module ul.menu li a:hover {
  background: #e3e3e3;
}
#content #sidebar .sidebar_module ul.menu li.active a {
  background: #e3e3e3;
}
#social_area {
  border-top-color: #dbdbdb;
  border-bottom: #dbdbdb;
  background: #eaeaea;
}
#footer {
  background-color: #975515;
  background-image: url("../../images/styles/style6/footer.jpg");
}
#footer .moduletable .moduletable_heading {
  text-shadow: 1px 1px 1px #3d2309;
}
#footer .moduletable .moduletable_heading span {
  color: #FFFF00;
}
#footer .moduletable .icebtn {
  background: #da7b1e;
  text-shadow: 1px 1px 1px #6a3c0f;
}
#footer .moduletable .icebtn:hover {
  background: #e59546;
}
#copyright {
  background-color: #271605;
  background-color: rgba(39, 22, 5, 0.25);
  border-top-color: #b26419;
}
#copyright ul.menu li a:hover {
  background-color: #e59546;
  background-color: rgba(229, 149, 70, 0.25);
}
/* MainMenu 
------------*/
#mainmenu .navbar-inner {
  background: #3d3d3d;
  background: -moz-linear-gradient(top, #575757, #3d3d3d);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#575757), to(#3d3d3d));
  background: -webkit-linear-gradient(top, #575757, #3d3d3d);
  background: -o-linear-gradient(top, #575757, #3d3d3d);
  background: linear-gradient(to bottom, #575757, #3d3d3d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff575757', endColorstr='#ff3d3d3d', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li > a {
  text-shadow: 1px 1px 1px #242424;
}
#mainmenu .navbar-inner ul.nav > li > a .caret {
  border-top-color: #8a8a8a;
  border-bottom-color: #8a8a8a;
}
#mainmenu .navbar-inner ul.nav > li.active > a {
  background: #575757;
  background: -moz-linear-gradient(top, #707070, #575757);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#707070), to(#575757));
  background: -webkit-linear-gradient(top, #707070, #575757);
  background: -o-linear-gradient(top, #707070, #575757);
  background: linear-gradient(to bottom, #707070, #575757);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff707070', endColorstr='#ff575757', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.active:after {
  border-top-color: #575757;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background: #575757;
  background: -moz-linear-gradient(top, #707070, #575757);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#707070), to(#575757));
  background: -webkit-linear-gradient(top, #707070, #575757);
  background: -o-linear-gradient(top, #707070, #575757);
  background: linear-gradient(to bottom, #707070, #575757);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff707070', endColorstr='#ff575757', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a .caret {
  border-top-color: #bdbdbd;
  border-bottom-color: #bdbdbd;
}
#mainmenu .dropdown-menu {
  background: #575757;
}
#mainmenu .dropdown-menu > li > a {
  text-shadow: 1px 1px 1px #242424;
}
#mainmenu .dropdown-menu > li > a:hover {
  background: #636363;
}
#mainmenu .dropdown-menu > li > a:after {
  border-left-color: #8a8a8a;
}
#mainmenu .dropdown-menu > li.active > a {
  background: #636363;
}
#mainmenu .dropdown-menu .divider {
  background: #242424;
  border-bottom-color: #7d7d7d;
}
#mainmenu .dropdown-menu .nav-header {
  color: #fff;
  text-shadow: 1px 1px 1px #242424;
  border-bottom: 1px dotted #7d7d7d;
}
#mainmenu .dropdown-submenu:hover > a {
  background: #636363;
}
/* IceSlideShow
---------------*/
#iceslideshow .carousel-indicators li.active {
  background: #c46e1b;
}
/* JoomShopping Extensions
---------------------------*/
.btn.icebtn.button_buy:before,
.btn.icebtn.button_detail:before,
.btn.icebtn.button_wishlist:before {
  background-color: #515151;
}
.btn.icebtn.button_buy:hover,
.btn.icebtn.button_detail:hover,
.btn.icebtn.button_wishlist:hover {
  background-color: #3d3d3d;
}
.btn.icebtn.button_buy:hover:before,
.btn.icebtn.button_detail:hover:before,
.btn.icebtn.button_wishlist:hover:before {
  background-color: #616161;
}
.btn.icebtn.button_buy {
  background-color: #975515;
  text-shadow: 1px 1px 1px #542f0c;
}
.btn.icebtn.button_buy:before {
  background-color: #bb691a;
}
.btn.icebtn.button_buy:hover {
  background-color: #975515;
}
.btn.icebtn.button_buy:hover:before {
  background-color: #cd731c;
}
.btn.icebtn.button_detail {
  background-color: #3d3d3d;
}
.btn.icebtn.button_detail:before {
  background-color: #515151;
}
.btn.icebtn.button_detail:hover {
  background-color: #3d3d3d;
}
.btn.icebtn.button_detail:hover:before {
  background-color: #636363;
}
.btn.icebtn.button_wishlist {
  background-color: #3d3d3d;
}
.btn.icebtn.button_wishlist:before {
  background-color: #515151;
}
.btn.icebtn.button_wishlist:hover {
  background-color: #3d3d3d;
}
.btn.icebtn.button_wishlist:hover:before {
  background-color: #636363;
}
.jshop_product_detail .prod_buttons {
  background: #eaa96a;
  border-color: #e59546;
}
.jshop_product_detail .prod_buttons input#quantity {
  border-color: #e59546;
}
.jshop_product_detail div.review_item span.review_time span.icon-calendar {
  color: #975515;
}
.jshoppping_modalcart_link,
.jshoppping_modalcart_link:visited {
  background: #975515;
  background: -moz-linear-gradient(top, #c46e1b, #975515);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#c46e1b), to(#975515));
  background: -webkit-linear-gradient(top, #c46e1b, #975515);
  background: -o-linear-gradient(top, #c46e1b, #975515);
  background: linear-gradient(to bottom, #c46e1b, #975515);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc46e1b', endColorstr='#ff975515', GradientType=0);
  text-shadow: 1px 1px 1px #542f0c;
}
span.jshoppping_modalcart_link,
span.jshoppping_modalcart_link:hover {
  text-shadow: 1px 1px 1px #542f0c;
}
.jshop_carousel .owl-theme .owl-controls .owl-buttons div {
  background-color: #3d3d3d;
  background-color: rgba(61, 61, 61, 0.25);
}
.jshop_carousel .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #3d3d3d;
  background-color: rgba(61, 61, 61, 0.5);
}
.jshop_list_category .jshop_list_category_inner_img a:hover:before,
.jshop_list_category .jshop_list_category_inner_img a:hover:after {
  background: #975515;
}
body .stars_no_active,
body .stars_active,
body div.star-rating,
body div.star-rating a {
  background-image: url("../../images/styles/style1/jshopping_stars.png");
}
/* Responsive Part */
@media only screen and (max-width: 979px) {
  #mainmenu.navbar .btn-navbar {
    background: #707070;
  }
  #mainmenu.navbar .btn-navbar:hover {
    background: #8a8a8a;
  }
  #mainmenu .navbar-inner ul.nav > li.active > a,
  #mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
    background: #636363;
  }
  #mainmenu .jshoppping_modalcart_link {
    background: #975515;
  }
}