/* Compiled Less CSS File */
/* Generated from "style4.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  background-color: #93148f;
  text-shadow: 1px 1px 1px #3a0838;
}
.btn.icebtn:hover,
p.readmore a.btn:hover {
  background-color: #c01aba;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #aa17a4;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #aa17a4;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #aa17a4;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #aa17a4;
}
.tooltip .tooltip-inner {
  background-color: #aa17a4;
}
/* Joomla 
----------*/
.mailto-close a {
  background-color: #7d1179;
}
#search form .inputbox,
#search form .input-medium {
  border-color: #f9d1f7;
}
#search form .inputbox:focus,
#search form .input-medium:focus {
  border-color: #f5b6f3;
}
/* Extras 
---------*/
.iceslide_link {
  background-color: #aa17a4;
  background-color: rgba(170, 23, 164, 0.75);
}
.iceslide_link:hover {
  background-color: #aa17a4;
}
#iceslide .close {
  background-color: #aa17a4;
  background-color: rgba(170, 23, 164, 0.75);
}
#iceslide .close:hover {
  background-color: #aa17a4;
}
#gotop .scrollup {
  background-color: #e24f30;
  background-color: rgba(226, 79, 48, 0.5);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #e24f30;
  background-color: rgba(226, 79, 48, 0.75);
}
p#icelogo a {
  background-image: url("../../images/styles/style4/icetheme.png");
}
#section-kmt h3.kmt-title {
  background-color: #7d1179;
  text-shadow: 1px 1px 1px #3a0838;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background: -moz-linear-gradient(top, #aa17a4, #7d1179);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#aa17a4), to(#7d1179));
  background: -webkit-linear-gradient(top, #aa17a4, #7d1179);
  background: -o-linear-gradient(top, #aa17a4, #7d1179);
  background: linear-gradient(to bottom, #aa17a4, #7d1179);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaa17a4', endColorstr='#ff7d1179', GradientType=0);
}
#weather span.weather-temp {
  color: #c4391b;
}
#weather i {
  color: #e56246;
}
/* Layout 
---------*/
#header {
  background: -moz-linear-gradient(top, #fcecfc, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcecfc), to(#ffffff));
  background: -webkit-linear-gradient(top, #fcecfc, #ffffff);
  background: -o-linear-gradient(top, #fcecfc, #ffffff);
  background: linear-gradient(to bottom, #fcecfc, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcecfc', endColorstr='#ffffffff', GradientType=0);
}
#header #header_right #header_contact [class^="icon-"] {
  color: #aa17a4;
}
#usermenu {
  background: #aa17a4;
}
#content:before {
  background: -moz-linear-gradient(top, #fbdffa, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbdffa), to(#ffffff));
  background: -webkit-linear-gradient(top, #fbdffa, #ffffff);
  background: -o-linear-gradient(top, #fbdffa, #ffffff);
  background: linear-gradient(to bottom, #fbdffa, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbdffa', endColorstr='#ffffffff', GradientType=0);
}
#content #message {
  border-left-color: #7d1179;
}
#content #sidebar .sidebar_module {
  background: #fcecfc;
  /* joomla menu on sidebar */

}
#content #sidebar .sidebar_module .sidebar_module_heading {
  border-left-color: #7d1179;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 {
  background: #7d1179;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #230522;
  border-bottom-color: #c01aba;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .icebtn {
  background: #c01aba;
  text-shadow: 1px 1px 1px #500b4e;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .icebtn:hover {
  background: #e22bdb;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 {
  background: #972c15;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #3d1209;
  border-bottom-color: #da401e;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .icebtn {
  background: #da401e;
  text-shadow: 1px 1px 1px #6a1f0f;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .icebtn:hover {
  background: #e56246;
}
#content #sidebar .sidebar_module ul.menu li a {
  border-bottom-color: #f3a5f0;
}
#content #sidebar .sidebar_module ul.menu li a:hover {
  background: #fbdffa;
}
#content #sidebar .sidebar_module ul.menu li.active a {
  background: #fbdffa;
}
#social_area {
  border-top-color: #f9d1f7;
  border-bottom: #f9d1f7;
  background: #fcecfc;
}
#footer {
  background-color: #972c15;
  background-image: url("../../images/styles/style4/footer.jpg");
}
#footer .moduletable .moduletable_heading {
  text-shadow: 1px 1px 1px #3d1209;
}
#footer .moduletable .moduletable_heading span {
  color: #FFFF00;
}
#footer .moduletable .icebtn {
  background: #da401e;
  text-shadow: 1px 1px 1px #6a1f0f;
}
#footer .moduletable .icebtn:hover {
  background: #e56246;
}
#copyright {
  background-color: #270b05;
  background-color: rgba(39, 11, 5, 0.25);
  border-top-color: #b23419;
}
#copyright ul.menu li a:hover {
  background-color: #e56246;
  background-color: rgba(229, 98, 70, 0.25);
}
/* MainMenu 
------------*/
#mainmenu .navbar-inner {
  background: #7d1179;
  background: -moz-linear-gradient(top, #aa17a4, #7d1179);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#aa17a4), to(#7d1179));
  background: -webkit-linear-gradient(top, #aa17a4, #7d1179);
  background: -o-linear-gradient(top, #aa17a4, #7d1179);
  background: linear-gradient(to bottom, #aa17a4, #7d1179);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaa17a4', endColorstr='#ff7d1179', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li > a {
  text-shadow: 1px 1px 1px #500b4e;
}
#mainmenu .navbar-inner ul.nav > li > a .caret {
  border-top-color: #e542df;
  border-bottom-color: #e542df;
}
#mainmenu .navbar-inner ul.nav > li.active > a {
  background: #aa17a4;
  background: -moz-linear-gradient(top, #d71dd0, #aa17a4);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d71dd0), to(#aa17a4));
  background: -webkit-linear-gradient(top, #d71dd0, #aa17a4);
  background: -o-linear-gradient(top, #d71dd0, #aa17a4);
  background: linear-gradient(to bottom, #d71dd0, #aa17a4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd71dd0', endColorstr='#ffaa17a4', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.active:after {
  border-top-color: #aa17a4;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background: #aa17a4;
  background: -moz-linear-gradient(top, #d71dd0, #aa17a4);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d71dd0), to(#aa17a4));
  background: -webkit-linear-gradient(top, #d71dd0, #aa17a4);
  background: -o-linear-gradient(top, #d71dd0, #aa17a4);
  background: linear-gradient(to bottom, #d71dd0, #aa17a4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd71dd0', endColorstr='#ffaa17a4', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a .caret {
  border-top-color: #f19cee;
  border-bottom-color: #f19cee;
}
#mainmenu .dropdown-menu {
  background: #aa17a4;
}
#mainmenu .dropdown-menu > li > a {
  text-shadow: 1px 1px 1px #500b4e;
}
#mainmenu .dropdown-menu > li > a:hover {
  background: #c01aba;
}
#mainmenu .dropdown-menu > li > a:after {
  border-left-color: #e542df;
}
#mainmenu .dropdown-menu > li.active > a {
  background: #c01aba;
}
#mainmenu .dropdown-menu .divider {
  background: #500b4e;
  border-bottom-color: #e22bdb;
}
#mainmenu .dropdown-menu .nav-header {
  color: #fff;
  text-shadow: 1px 1px 1px #500b4e;
  border-bottom: 1px dotted #e22bdb;
}
#mainmenu .dropdown-submenu:hover > a {
  background: #c01aba;
}
/* IceSlideShow
---------------*/
#iceslideshow .carousel-indicators li.active {
  background: #c4391b;
}
/* JoomShopping Extensions
---------------------------*/
.btn.icebtn.button_buy:before,
.btn.icebtn.button_detail:before,
.btn.icebtn.button_wishlist:before {
  background-color: #a1169c;
}
.btn.icebtn.button_buy:hover,
.btn.icebtn.button_detail:hover,
.btn.icebtn.button_wishlist:hover {
  background-color: #7d1179;
}
.btn.icebtn.button_buy:hover:before,
.btn.icebtn.button_detail:hover:before,
.btn.icebtn.button_wishlist:hover:before {
  background-color: #bc1ab6;
}
.btn.icebtn.button_buy {
  background-color: #972c15;
  text-shadow: 1px 1px 1px #54180c;
}
.btn.icebtn.button_buy:before {
  background-color: #bb361a;
}
.btn.icebtn.button_buy:hover {
  background-color: #972c15;
}
.btn.icebtn.button_buy:hover:before {
  background-color: #cd3c1c;
}
.btn.icebtn.button_detail {
  background-color: #7d1179;
}
.btn.icebtn.button_detail:before {
  background-color: #a1169c;
}
.btn.icebtn.button_detail:hover {
  background-color: #7d1179;
}
.btn.icebtn.button_detail:hover:before {
  background-color: #c01aba;
}
.btn.icebtn.button_wishlist {
  background-color: #7d1179;
}
.btn.icebtn.button_wishlist:before {
  background-color: #a1169c;
}
.btn.icebtn.button_wishlist:hover {
  background-color: #7d1179;
}
.btn.icebtn.button_wishlist:hover:before {
  background-color: #c01aba;
}
.jshop_product_detail .prod_buttons {
  background: #ea816a;
  border-color: #e56246;
}
.jshop_product_detail .prod_buttons input#quantity {
  border-color: #e56246;
}
.jshop_product_detail div.review_item span.review_time span.icon-calendar {
  color: #972c15;
}
.jshoppping_modalcart_link,
.jshoppping_modalcart_link:visited {
  background: #972c15;
  background: -moz-linear-gradient(top, #c4391b, #972c15);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#c4391b), to(#972c15));
  background: -webkit-linear-gradient(top, #c4391b, #972c15);
  background: -o-linear-gradient(top, #c4391b, #972c15);
  background: linear-gradient(to bottom, #c4391b, #972c15);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc4391b', endColorstr='#ff972c15', GradientType=0);
  text-shadow: 1px 1px 1px #54180c;
}
span.jshoppping_modalcart_link,
span.jshoppping_modalcart_link:hover {
  text-shadow: 1px 1px 1px #54180c;
}
.jshop_carousel .owl-theme .owl-controls .owl-buttons div {
  background-color: #7d1179;
  background-color: rgba(125, 17, 121, 0.25);
}
.jshop_carousel .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #7d1179;
  background-color: rgba(125, 17, 121, 0.5);
}
.jshop_list_category .jshop_list_category_inner_img a:hover:before,
.jshop_list_category .jshop_list_category_inner_img a:hover:after {
  background: #972c15;
}
body .stars_no_active,
body .stars_active,
body div.star-rating,
body div.star-rating a {
  background-image: url("../../images/styles/style1/jshopping_stars.png");
}
/* Responsive Part */
@media only screen and (max-width: 979px) {
  #mainmenu.navbar .btn-navbar {
    background: #d71dd0;
  }
  #mainmenu.navbar .btn-navbar:hover {
    background: #e542df;
  }
  #mainmenu .navbar-inner ul.nav > li.active > a,
  #mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
    background: #c01aba;
  }
  #mainmenu .jshoppping_modalcart_link {
    background: #972c15;
  }
}