/* Compiled Less CSS File */
/* Generated from "style2.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  background-color: #146193;
  text-shadow: 1px 1px 1px #08263a;
}
.btn.icebtn:hover,
p.readmore a.btn:hover {
  background-color: #1a7ec0;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #176faa;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #176faa;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #176faa;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #176faa;
}
.tooltip .tooltip-inner {
  background-color: #176faa;
}
/* Joomla 
----------*/
.mailto-close a {
  background-color: #11527d;
}
#search form .inputbox,
#search form .input-medium {
  border-color: #d1e9f9;
}
#search form .inputbox:focus,
#search form .input-medium:focus {
  border-color: #b6dcf5;
}
/* Extras 
---------*/
.iceslide_link {
  background-color: #176faa;
  background-color: rgba(23, 111, 170, 0.75);
}
.iceslide_link:hover {
  background-color: #176faa;
}
#iceslide .close {
  background-color: #176faa;
  background-color: rgba(23, 111, 170, 0.75);
}
#iceslide .close:hover {
  background-color: #176faa;
}
#gotop .scrollup {
  background-color: #cede20;
  background-color: rgba(206, 222, 32, 0.5);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #cede20;
  background-color: rgba(206, 222, 32, 0.75);
}
p#icelogo a {
  background-image: url("../../images/styles/style2/icetheme.png");
}
#section-kmt h3.kmt-title {
  background-color: #11527d;
  text-shadow: 1px 1px 1px #08263a;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background: -moz-linear-gradient(top, #176faa, #11527d);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#176faa), to(#11527d));
  background: -webkit-linear-gradient(top, #176faa, #11527d);
  background: -o-linear-gradient(top, #176faa, #11527d);
  background: linear-gradient(to bottom, #176faa, #11527d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff176faa', endColorstr='#ff11527d', GradientType=0);
}
#weather span.weather-temp {
  color: #a4b219;
}
#weather i {
  color: #d3e235;
}
/* Layout 
---------*/
#header {
  background: -moz-linear-gradient(top, #ecf6fc, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ecf6fc), to(#ffffff));
  background: -webkit-linear-gradient(top, #ecf6fc, #ffffff);
  background: -o-linear-gradient(top, #ecf6fc, #ffffff);
  background: linear-gradient(to bottom, #ecf6fc, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffecf6fc', endColorstr='#ffffffff', GradientType=0);
}
#header #header_right #header_contact [class^="icon-"] {
  color: #176faa;
}
#usermenu {
  background: #176faa;
}
#content:before {
  background: -moz-linear-gradient(top, #dff0fb, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dff0fb), to(#ffffff));
  background: -webkit-linear-gradient(top, #dff0fb, #ffffff);
  background: -o-linear-gradient(top, #dff0fb, #ffffff);
  background: linear-gradient(to bottom, #dff0fb, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff0fb', endColorstr='#ffffffff', GradientType=0);
}
#content #message {
  border-left-color: #11527d;
}
#content #sidebar .sidebar_module {
  background: #ecf6fc;
  /* joomla menu on sidebar */

}
#content #sidebar .sidebar_module .sidebar_module_heading {
  border-left-color: #11527d;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 {
  background: #11527d;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #051723;
  border-bottom-color: #1a7ec0;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .icebtn {
  background: #1a7ec0;
  text-shadow: 1px 1px 1px #0b3550;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .icebtn:hover {
  background: #2b99e2;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 {
  background: #7b8513;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #282c06;
  border-bottom-color: #b9c81d;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .icebtn {
  background: #b9c81d;
  text-shadow: 1px 1px 1px #52580d;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .icebtn:hover {
  background: #d3e235;
}
#content #sidebar .sidebar_module ul.menu li a {
  border-bottom-color: #a5d4f3;
}
#content #sidebar .sidebar_module ul.menu li a:hover {
  background: #dff0fb;
}
#content #sidebar .sidebar_module ul.menu li.active a {
  background: #dff0fb;
}
#social_area {
  border-top-color: #d1e9f9;
  border-bottom: #d1e9f9;
  background: #ecf6fc;
}
#footer {
  background-color: #7b8513;
  background-image: url("../../images/styles/style2/footer.jpg");
}
#footer .moduletable .moduletable_heading {
  text-shadow: 1px 1px 1px #282c06;
}
#footer .moduletable .moduletable_heading span {
  color: #FFFF00;
}
#footer .moduletable .icebtn {
  background: #b9c81d;
  text-shadow: 1px 1px 1px #52580d;
}
#footer .moduletable .icebtn:hover {
  background: #d3e235;
}
#copyright {
  background-color: #141503;
  background-color: rgba(20, 21, 3, 0.25);
  border-top-color: #94a017;
}
#copyright ul.menu li a:hover {
  background-color: #d3e235;
  background-color: rgba(211, 226, 53, 0.25);
}
/* MainMenu 
------------*/
#mainmenu .navbar-inner {
  background: #11527d;
  background: -moz-linear-gradient(top, #176faa, #11527d);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#176faa), to(#11527d));
  background: -webkit-linear-gradient(top, #176faa, #11527d);
  background: -o-linear-gradient(top, #176faa, #11527d);
  background: linear-gradient(to bottom, #176faa, #11527d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff176faa', endColorstr='#ff11527d', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li > a {
  text-shadow: 1px 1px 1px #0b3550;
}
#mainmenu .navbar-inner ul.nav > li > a .caret {
  border-top-color: #42a4e5;
  border-bottom-color: #42a4e5;
}
#mainmenu .navbar-inner ul.nav > li.active > a {
  background: #176faa;
  background: -moz-linear-gradient(top, #1d8dd7, #176faa);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#1d8dd7), to(#176faa));
  background: -webkit-linear-gradient(top, #1d8dd7, #176faa);
  background: -o-linear-gradient(top, #1d8dd7, #176faa);
  background: linear-gradient(to bottom, #1d8dd7, #176faa);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d8dd7', endColorstr='#ff176faa', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.active:after {
  border-top-color: #176faa;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background: #176faa;
  background: -moz-linear-gradient(top, #1d8dd7, #176faa);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#1d8dd7), to(#176faa));
  background: -webkit-linear-gradient(top, #1d8dd7, #176faa);
  background: -o-linear-gradient(top, #1d8dd7, #176faa);
  background: linear-gradient(to bottom, #1d8dd7, #176faa);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1d8dd7', endColorstr='#ff176faa', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a .caret {
  border-top-color: #9ccff1;
  border-bottom-color: #9ccff1;
}
#mainmenu .dropdown-menu {
  background: #176faa;
}
#mainmenu .dropdown-menu > li > a {
  text-shadow: 1px 1px 1px #0b3550;
}
#mainmenu .dropdown-menu > li > a:hover {
  background: #1a7ec0;
}
#mainmenu .dropdown-menu > li > a:after {
  border-left-color: #42a4e5;
}
#mainmenu .dropdown-menu > li.active > a {
  background: #1a7ec0;
}
#mainmenu .dropdown-menu .divider {
  background: #0b3550;
  border-bottom-color: #2b99e2;
}
#mainmenu .dropdown-menu .nav-header {
  color: #fff;
  text-shadow: 1px 1px 1px #0b3550;
  border-bottom: 1px dotted #2b99e2;
}
#mainmenu .dropdown-submenu:hover > a {
  background: #1a7ec0;
}
/* IceSlideShow
---------------*/
#iceslideshow .carousel-indicators li.active {
  background: #a4b219;
}
/* JoomShopping Extensions
---------------------------*/
.btn.icebtn.button_buy:before,
.btn.icebtn.button_detail:before,
.btn.icebtn.button_wishlist:before {
  background-color: #166aa1;
}
.btn.icebtn.button_buy:hover,
.btn.icebtn.button_detail:hover,
.btn.icebtn.button_wishlist:hover {
  background-color: #11527d;
}
.btn.icebtn.button_buy:hover:before,
.btn.icebtn.button_detail:hover:before,
.btn.icebtn.button_wishlist:hover:before {
  background-color: #1a7bbc;
}
.btn.icebtn.button_buy {
  background-color: #7b8513;
  text-shadow: 1px 1px 1px #3d4209;
}
.btn.icebtn.button_buy:before {
  background-color: #9ca918;
}
.btn.icebtn.button_buy:hover {
  background-color: #7b8513;
}
.btn.icebtn.button_buy:hover:before {
  background-color: #adbb1b;
}
.btn.icebtn.button_detail {
  background-color: #11527d;
}
.btn.icebtn.button_detail:before {
  background-color: #166aa1;
}
.btn.icebtn.button_detail:hover {
  background-color: #11527d;
}
.btn.icebtn.button_detail:hover:before {
  background-color: #1a7ec0;
}
.btn.icebtn.button_wishlist {
  background-color: #11527d;
}
.btn.icebtn.button_wishlist:before {
  background-color: #166aa1;
}
.btn.icebtn.button_wishlist:hover {
  background-color: #11527d;
}
.btn.icebtn.button_wishlist:hover:before {
  background-color: #1a7ec0;
}
.jshop_product_detail .prod_buttons {
  background: #dbe759;
  border-color: #d3e235;
}
.jshop_product_detail .prod_buttons input#quantity {
  border-color: #d3e235;
}
.jshop_product_detail div.review_item span.review_time span.icon-calendar {
  color: #7b8513;
}
.jshoppping_modalcart_link,
.jshoppping_modalcart_link:visited {
  background: #7b8513;
  background: -moz-linear-gradient(top, #a4b219, #7b8513);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#a4b219), to(#7b8513));
  background: -webkit-linear-gradient(top, #a4b219, #7b8513);
  background: -o-linear-gradient(top, #a4b219, #7b8513);
  background: linear-gradient(to bottom, #a4b219, #7b8513);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa4b219', endColorstr='#ff7b8513', GradientType=0);
  text-shadow: 1px 1px 1px #3d4209;
}
span.jshoppping_modalcart_link,
span.jshoppping_modalcart_link:hover {
  text-shadow: 1px 1px 1px #3d4209;
}
.jshop_carousel .owl-theme .owl-controls .owl-buttons div {
  background-color: #11527d;
  background-color: rgba(17, 82, 125, 0.25);
}
.jshop_carousel .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #11527d;
  background-color: rgba(17, 82, 125, 0.5);
}
.jshop_list_category .jshop_list_category_inner_img a:hover:before,
.jshop_list_category .jshop_list_category_inner_img a:hover:after {
  background: #7b8513;
}
body .stars_no_active,
body .stars_active,
body div.star-rating,
body div.star-rating a {
  background-image: url("../../images/styles/style1/jshopping_stars.png");
}
/* Responsive Part */
@media only screen and (max-width: 979px) {
  #mainmenu.navbar .btn-navbar {
    background: #1d8dd7;
  }
  #mainmenu.navbar .btn-navbar:hover {
    background: #42a4e5;
  }
  #mainmenu .navbar-inner ul.nav > li.active > a,
  #mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
    background: #1a7ec0;
  }
  #mainmenu .jshoppping_modalcart_link {
    background: #7b8513;
  }
}