/* Compiled Less CSS File */
/* Generated from "style3.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  background-color: #3d8312;
  text-shadow: 1px 1px 1px #142a06;
}
.btn.icebtn:hover,
p.readmore a.btn:hover {
  background-color: #52b018;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #489a15;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #489a15;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #489a15;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #489a15;
}
.tooltip .tooltip-inner {
  background-color: #489a15;
}
/* Joomla 
----------*/
.mailto-close a {
  background-color: #336d0f;
}
#search form .inputbox,
#search form .input-medium {
  border-color: #d6f7c2;
}
#search form .inputbox:focus,
#search form .input-medium:focus {
  border-color: #c4f3a7;
}
/* Extras 
---------*/
.iceslide_link {
  background-color: #489a15;
  background-color: rgba(72, 154, 21, 0.75);
}
.iceslide_link:hover {
  background-color: #489a15;
}
#iceslide .close {
  background-color: #489a15;
  background-color: rgba(72, 154, 21, 0.75);
}
#iceslide .close:hover {
  background-color: #489a15;
}
#gotop .scrollup {
  background-color: #d7781d;
  background-color: rgba(215, 120, 29, 0.5);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #d7781d;
  background-color: rgba(215, 120, 29, 0.75);
}
p#icelogo a {
  background-image: url("../../images/styles/style3/icetheme.png");
}
#section-kmt h3.kmt-title {
  background-color: #336d0f;
  text-shadow: 1px 1px 1px #142a06;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background: -moz-linear-gradient(top, #489a15, #336d0f);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#489a15), to(#336d0f));
  background: -webkit-linear-gradient(top, #489a15, #336d0f);
  background: -o-linear-gradient(top, #489a15, #336d0f);
  background: linear-gradient(to bottom, #489a15, #336d0f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff489a15', endColorstr='#ff336d0f', GradientType=0);
}
#weather span.weather-temp {
  color: #aa5f17;
}
#weather i {
  color: #e2852b;
}
/* Layout 
---------*/
#header {
  background: -moz-linear-gradient(top, #e8fadd, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e8fadd), to(#ffffff));
  background: -webkit-linear-gradient(top, #e8fadd, #ffffff);
  background: -o-linear-gradient(top, #e8fadd, #ffffff);
  background: linear-gradient(to bottom, #e8fadd, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8fadd', endColorstr='#ffffffff', GradientType=0);
}
#header #header_right #header_contact [class^="icon-"] {
  color: #489a15;
}
#usermenu {
  background: #489a15;
}
#content:before {
  background: -moz-linear-gradient(top, #dff8cf, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dff8cf), to(#ffffff));
  background: -webkit-linear-gradient(top, #dff8cf, #ffffff);
  background: -o-linear-gradient(top, #dff8cf, #ffffff);
  background: linear-gradient(to bottom, #dff8cf, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdff8cf', endColorstr='#ffffffff', GradientType=0);
}
#content #message {
  border-left-color: #336d0f;
}
#content #sidebar .sidebar_module {
  background: #e8fadd;
  /* joomla menu on sidebar */

}
#content #sidebar .sidebar_module .sidebar_module_heading {
  border-left-color: #336d0f;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 {
  background: #336d0f;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #091303;
  border-bottom-color: #52b018;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .icebtn {
  background: #52b018;
  text-shadow: 1px 1px 1px #1e4009;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .icebtn:hover {
  background: #67dd1e;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 {
  background: #7d4611;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #231405;
  border-bottom-color: #c06c1a;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .icebtn {
  background: #c06c1a;
  text-shadow: 1px 1px 1px #502d0b;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .icebtn:hover {
  background: #e2852b;
}
#content #sidebar .sidebar_module ul.menu li a {
  border-bottom-color: #b8f095;
}
#content #sidebar .sidebar_module ul.menu li a:hover {
  background: #dff8cf;
}
#content #sidebar .sidebar_module ul.menu li.active a {
  background: #dff8cf;
}
#social_area {
  border-top-color: #d6f7c2;
  border-bottom: #d6f7c2;
  background: #e8fadd;
}
#footer {
  background-color: #7d4611;
  background-image: url("../../images/styles/style3/footer.jpg");
}
#footer .moduletable .moduletable_heading {
  text-shadow: 1px 1px 1px #231405;
}
#footer .moduletable .moduletable_heading span {
  color: #FFFF00;
}
#footer .moduletable .icebtn {
  background: #c06c1a;
  text-shadow: 1px 1px 1px #502d0b;
}
#footer .moduletable .icebtn:hover {
  background: #e2852b;
}
#copyright {
  background-color: #0d0702;
  background-color: rgba(13, 7, 2, 0.25);
  border-top-color: #985515;
}
#copyright ul.menu li a:hover {
  background-color: #e2852b;
  background-color: rgba(226, 133, 43, 0.25);
}
/* MainMenu 
------------*/
#mainmenu .navbar-inner {
  background: #336d0f;
  background: -moz-linear-gradient(top, #489a15, #336d0f);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#489a15), to(#336d0f));
  background: -webkit-linear-gradient(top, #489a15, #336d0f);
  background: -o-linear-gradient(top, #489a15, #336d0f);
  background: linear-gradient(to bottom, #489a15, #336d0f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff489a15', endColorstr='#ff336d0f', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li > a {
  text-shadow: 1px 1px 1px #1e4009;
}
#mainmenu .navbar-inner ul.nav > li > a .caret {
  border-top-color: #76e332;
  border-bottom-color: #76e332;
}
#mainmenu .navbar-inner ul.nav > li.active > a {
  background: #489a15;
  background: -moz-linear-gradient(top, #5dc71b, #489a15);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5dc71b), to(#489a15));
  background: -webkit-linear-gradient(top, #5dc71b, #489a15);
  background: -o-linear-gradient(top, #5dc71b, #489a15);
  background: linear-gradient(to bottom, #5dc71b, #489a15);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5dc71b', endColorstr='#ff489a15', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.active:after {
  border-top-color: #489a15;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background: #489a15;
  background: -moz-linear-gradient(top, #5dc71b, #489a15);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5dc71b), to(#489a15));
  background: -webkit-linear-gradient(top, #5dc71b, #489a15);
  background: -o-linear-gradient(top, #5dc71b, #489a15);
  background: linear-gradient(to bottom, #5dc71b, #489a15);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5dc71b', endColorstr='#ff489a15', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a .caret {
  border-top-color: #b2ef8c;
  border-bottom-color: #b2ef8c;
}
#mainmenu .dropdown-menu {
  background: #489a15;
}
#mainmenu .dropdown-menu > li > a {
  text-shadow: 1px 1px 1px #1e4009;
}
#mainmenu .dropdown-menu > li > a:hover {
  background: #52b018;
}
#mainmenu .dropdown-menu > li > a:after {
  border-left-color: #76e332;
}
#mainmenu .dropdown-menu > li.active > a {
  background: #52b018;
}
#mainmenu .dropdown-menu .divider {
  background: #1e4009;
  border-bottom-color: #67dd1e;
}
#mainmenu .dropdown-menu .nav-header {
  color: #fff;
  text-shadow: 1px 1px 1px #1e4009;
  border-bottom: 1px dotted #67dd1e;
}
#mainmenu .dropdown-submenu:hover > a {
  background: #52b018;
}
/* IceSlideShow
---------------*/
#iceslideshow .carousel-indicators li.active {
  background: #aa5f17;
}
/* JoomShopping Extensions
---------------------------*/
.btn.icebtn.button_buy:before,
.btn.icebtn.button_detail:before,
.btn.icebtn.button_wishlist:before {
  background-color: #449114;
}
.btn.icebtn.button_buy:hover,
.btn.icebtn.button_detail:hover,
.btn.icebtn.button_wishlist:hover {
  background-color: #336d0f;
}
.btn.icebtn.button_buy:hover:before,
.btn.icebtn.button_detail:hover:before,
.btn.icebtn.button_wishlist:hover:before {
  background-color: #50ac18;
}
.btn.icebtn.button_buy {
  background-color: #7d4611;
  text-shadow: 1px 1px 1px #3a2008;
}
.btn.icebtn.button_buy:before {
  background-color: #a15a16;
}
.btn.icebtn.button_buy:hover {
  background-color: #7d4611;
}
.btn.icebtn.button_buy:hover:before {
  background-color: #b36418;
}
.btn.icebtn.button_detail {
  background-color: #336d0f;
}
.btn.icebtn.button_detail:before {
  background-color: #449114;
}
.btn.icebtn.button_detail:hover {
  background-color: #336d0f;
}
.btn.icebtn.button_detail:hover:before {
  background-color: #52b018;
}
.btn.icebtn.button_wishlist {
  background-color: #336d0f;
}
.btn.icebtn.button_wishlist:before {
  background-color: #449114;
}
.btn.icebtn.button_wishlist:hover {
  background-color: #336d0f;
}
.btn.icebtn.button_wishlist:hover:before {
  background-color: #52b018;
}
.jshop_product_detail .prod_buttons {
  background: #e79a4f;
  border-color: #e2852b;
}
.jshop_product_detail .prod_buttons input#quantity {
  border-color: #e2852b;
}
.jshop_product_detail div.review_item span.review_time span.icon-calendar {
  color: #7d4611;
}
.jshoppping_modalcart_link,
.jshoppping_modalcart_link:visited {
  background: #7d4611;
  background: -moz-linear-gradient(top, #aa5f17, #7d4611);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#aa5f17), to(#7d4611));
  background: -webkit-linear-gradient(top, #aa5f17, #7d4611);
  background: -o-linear-gradient(top, #aa5f17, #7d4611);
  background: linear-gradient(to bottom, #aa5f17, #7d4611);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaa5f17', endColorstr='#ff7d4611', GradientType=0);
  text-shadow: 1px 1px 1px #3a2008;
}
span.jshoppping_modalcart_link,
span.jshoppping_modalcart_link:hover {
  text-shadow: 1px 1px 1px #3a2008;
}
.jshop_carousel .owl-theme .owl-controls .owl-buttons div {
  background-color: #336d0f;
  background-color: rgba(51, 109, 15, 0.25);
}
.jshop_carousel .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #336d0f;
  background-color: rgba(51, 109, 15, 0.5);
}
.jshop_list_category .jshop_list_category_inner_img a:hover:before,
.jshop_list_category .jshop_list_category_inner_img a:hover:after {
  background: #7d4611;
}
body .stars_no_active,
body .stars_active,
body div.star-rating,
body div.star-rating a {
  background-image: url("../../images/styles/style1/jshopping_stars.png");
}
/* Responsive Part */
@media only screen and (max-width: 979px) {
  #mainmenu.navbar .btn-navbar {
    background: #5dc71b;
  }
  #mainmenu.navbar .btn-navbar:hover {
    background: #76e332;
  }
  #mainmenu .navbar-inner ul.nav > li.active > a,
  #mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
    background: #52b018;
  }
  #mainmenu .jshoppping_modalcart_link {
    background: #7d4611;
  }
}