/* Compiled Less CSS File */
/* Generated from "style1.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  background-color: #932c14;
  text-shadow: 1px 1px 1px #3a1108;
}
.btn.icebtn:hover,
p.readmore a.btn:hover {
  background-color: #c0391a;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #aa3217;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #aa3217;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #aa3217;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #aa3217;
}
.tooltip .tooltip-inner {
  background-color: #aa3217;
}
/* Joomla 
----------*/
.mailto-close a {
  background-color: #7d2511;
}
#search form .inputbox,
#search form .input-medium {
  border-color: #f9d9d1;
}
#search form .inputbox:focus,
#search form .input-medium:focus {
  border-color: #f5c2b6;
}
/* Extras 
---------*/
.iceslide_link {
  background-color: #aa3217;
  background-color: rgba(170, 50, 23, 0.75);
}
.iceslide_link:hover {
  background-color: #aa3217;
}
#iceslide .close {
  background-color: #aa3217;
  background-color: rgba(170, 50, 23, 0.75);
}
#iceslide .close:hover {
  background-color: #aa3217;
}
#gotop .scrollup {
  background-color: #d79e1d;
  background-color: rgba(215, 158, 29, 0.5);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #d79e1d;
  background-color: rgba(215, 158, 29, 0.75);
}
p#icelogo a {
  background-image: url("../../images/styles/style1/icetheme.png");
}
#section-kmt h3.kmt-title {
  background-color: #7d2511;
  text-shadow: 1px 1px 1px #3a1108;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background: -moz-linear-gradient(top, #aa3217, #7d2511);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#aa3217), to(#7d2511));
  background: -webkit-linear-gradient(top, #aa3217, #7d2511);
  background: -o-linear-gradient(top, #aa3217, #7d2511);
  background: linear-gradient(to bottom, #aa3217, #7d2511);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaa3217', endColorstr='#ff7d2511', GradientType=0);
}
#weather span.weather-temp {
  color: #aa7d17;
}
#weather i {
  color: #e2aa2b;
}
/* Layout 
---------*/
#header {
  background: -moz-linear-gradient(top, #fcefec, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcefec), to(#ffffff));
  background: -webkit-linear-gradient(top, #fcefec, #ffffff);
  background: -o-linear-gradient(top, #fcefec, #ffffff);
  background: linear-gradient(to bottom, #fcefec, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcefec', endColorstr='#ffffffff', GradientType=0);
}
#header #header_right #header_contact [class^="icon-"] {
  color: #aa3217;
}
#usermenu {
  background: #aa3217;
}
#content:before {
  background: -moz-linear-gradient(top, #fbe4df, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#fbe4df), to(#ffffff));
  background: -webkit-linear-gradient(top, #fbe4df, #ffffff);
  background: -o-linear-gradient(top, #fbe4df, #ffffff);
  background: linear-gradient(to bottom, #fbe4df, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbe4df', endColorstr='#ffffffff', GradientType=0);
}
#content #message {
  border-left-color: #7d2511;
}
#content #sidebar .sidebar_module {
  background: #fcefec;
  /* joomla menu on sidebar */

}
#content #sidebar .sidebar_module .sidebar_module_heading {
  border-left-color: #7d2511;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 {
  background: #7d2511;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #230a05;
  border-bottom-color: #c0391a;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .icebtn {
  background: #c0391a;
  text-shadow: 1px 1px 1px #50180b;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .icebtn:hover {
  background: #e24d2b;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 {
  background: #7d5c11;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #231a05;
  border-bottom-color: #c08e1a;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .icebtn {
  background: #c08e1a;
  text-shadow: 1px 1px 1px #503b0b;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .icebtn:hover {
  background: #e2aa2b;
}
#content #sidebar .sidebar_module ul.menu li a {
  border-bottom-color: #f3b3a5;
}
#content #sidebar .sidebar_module ul.menu li a:hover {
  background: #fbe4df;
}
#content #sidebar .sidebar_module ul.menu li.active a {
  background: #fbe4df;
}
/* Social Area (above footer) */
#social_area {
  border-top-color: #f9d9d1;
  border-bottom: #f9d9d1;
  background: #fcefec;
}
#footer {
  background-color: #7d5c11;
  background-image: url("../../images/styles/style1/footer.jpg");
}
#footer .moduletable .moduletable_heading {
  text-shadow: 1px 1px 1px #231a05;
}
#footer .moduletable .moduletable_heading span {
  color: #FFCC00;
}
#footer .moduletable .icebtn {
  background: #c08e1a;
  text-shadow: 1px 1px 1px #503b0b;
}
#footer .moduletable .icebtn:hover {
  background: #e2aa2b;
}
#copyright {
  background-color: #0d0902;
  background-color: rgba(13, 9, 2, 0.25);
  border-top-color: #987015;
}
#copyright ul.menu li a:hover {
  background-color: #e2aa2b;
  background-color: rgba(226, 170, 43, 0.25);
}
/* MainMenu 
------------*/
#mainmenu .navbar-inner {
  background: #7d2511;
  background: -moz-linear-gradient(top, #aa3217, #7d2511);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#aa3217), to(#7d2511));
  background: -webkit-linear-gradient(top, #aa3217, #7d2511);
  background: -o-linear-gradient(top, #aa3217, #7d2511);
  background: linear-gradient(to bottom, #aa3217, #7d2511);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaa3217', endColorstr='#ff7d2511', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li > a {
  text-shadow: 1px 1px 1px #50180b;
}
#mainmenu .navbar-inner ul.nav > li > a .caret {
  border-top-color-color: #e56042;
  border-bottom-color-color: #e56042;
}
#mainmenu .navbar-inner ul.nav > li.active > a {
  background: #aa3217;
  background: -moz-linear-gradient(top, #d7401d, #aa3217);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d7401d), to(#aa3217));
  background: -webkit-linear-gradient(top, #d7401d, #aa3217);
  background: -o-linear-gradient(top, #d7401d, #aa3217);
  background: linear-gradient(to bottom, #d7401d, #aa3217);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd7401d', endColorstr='#ffaa3217', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.active:after {
  border-top-color: #aa3217;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background: #aa3217;
  background: -moz-linear-gradient(top, #d7401d, #aa3217);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d7401d), to(#aa3217));
  background: -webkit-linear-gradient(top, #d7401d, #aa3217);
  background: -o-linear-gradient(top, #d7401d, #aa3217);
  background: linear-gradient(to bottom, #d7401d, #aa3217);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd7401d', endColorstr='#ffaa3217', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a .caret {
  border-top-color: #f1ab9c;
  border-bottom-color: #f1ab9c;
}
#mainmenu .dropdown-menu {
  background: #aa3217;
}
#mainmenu .dropdown-menu > li > a {
  text-shadow: 1px 1px 1px #50180b;
}
#mainmenu .dropdown-menu > li > a:hover {
  background: #c0391a;
}
#mainmenu .dropdown-menu > li > a:after {
  border-left-color: #e56042;
}
#mainmenu .dropdown-menu > li.active > a {
  background: #c0391a;
}
#mainmenu .dropdown-menu .divider {
  background: #50180b;
  border-bottom-color: #e24d2b;
}
#mainmenu .dropdown-menu .nav-header {
  color: #fff;
  text-shadow: 1px 1px 1px #50180b;
  border-bottom: 1px dotted #e24d2b;
}
#mainmenu .dropdown-submenu:hover > a {
  background: #c0391a;
}
/* IceSlideShow
---------------*/
#iceslideshow .carousel-indicators li.active {
  background: #aa7d17;
}
/* JoomShopping Extensions
---------------------------*/
.btn.icebtn.button_buy:before,
.btn.icebtn.button_detail:before,
.btn.icebtn.button_wishlist:before {
  background-color: #a13016;
}
.btn.icebtn.button_buy:hover,
.btn.icebtn.button_detail:hover,
.btn.icebtn.button_wishlist:hover {
  background-color: #7d2511;
}
.btn.icebtn.button_buy:hover:before,
.btn.icebtn.button_detail:hover:before,
.btn.icebtn.button_wishlist:hover:before {
  background-color: #bc381a;
}
.btn.icebtn.button_buy {
  background-color: #7d5c11;
  text-shadow: 1px 1px 1px #3a2a08;
}
.btn.icebtn.button_buy:before {
  background-color: #a17616;
}
.btn.icebtn.button_buy:hover {
  background-color: #7d5c11;
}
.btn.icebtn.button_buy:hover:before {
  background-color: #b38418;
}
.btn.icebtn.button_detail {
  background-color: #7d2511;
}
.btn.icebtn.button_detail:before {
  background-color: #a13016;
}
.btn.icebtn.button_detail:hover {
  background-color: #7d2511;
}
.btn.icebtn.button_detail:hover:before {
  background-color: #c0391a;
}
.btn.icebtn.button_wishlist {
  background-color: #7d2511;
}
.btn.icebtn.button_wishlist:before {
  background-color: #a13016;
}
.btn.icebtn.button_wishlist:hover {
  background-color: #7d2511;
}
.btn.icebtn.button_wishlist:hover:before {
  background-color: #c0391a;
}
.jshop_product_detail .prod_buttons {
  background: #e7b94f;
  border-color: #e2aa2b;
}
.jshop_product_detail .prod_buttons input#quantity {
  border-color: #e2aa2b;
}
.jshop_product_detail div.review_item span.review_time span.icon-calendar {
  color: #7d5c11;
}
.jshoppping_modalcart_link,
.jshoppping_modalcart_link:visited {
  background: #7d5c11;
  background: -moz-linear-gradient(top, #aa7d17, #7d5c11);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#aa7d17), to(#7d5c11));
  background: -webkit-linear-gradient(top, #aa7d17, #7d5c11);
  background: -o-linear-gradient(top, #aa7d17, #7d5c11);
  background: linear-gradient(to bottom, #aa7d17, #7d5c11);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaa7d17', endColorstr='#ff7d5c11', GradientType=0);
  text-shadow: 1px 1px 1px #3a2a08;
}
span.jshoppping_modalcart_link,
span.jshoppping_modalcart_link:hover {
  text-shadow: 1px 1px 1px #3a2a08;
}
.jshop_carousel .owl-theme .owl-controls .owl-buttons div {
  background-color: #7d2511;
  background-color: rgba(125, 37, 17, 0.25);
}
.jshop_carousel .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #7d2511;
  background-color: rgba(125, 37, 17, 0.5);
}
.jshop_list_category .jshop_list_category_inner_img a:hover:before,
.jshop_list_category .jshop_list_category_inner_img a:hover:after {
  background: #7d5c11;
}
body .stars_no_active,
body .stars_active,
body div.star-rating,
body div.star-rating a {
  background-image: url("../../images/styles/style1/jshopping_stars.png");
}
/* Responsive Part */
@media only screen and (max-width: 979px) {
  #mainmenu.navbar .btn-navbar {
    background: #d7401d;
  }
  #mainmenu.navbar .btn-navbar:hover {
    background: #e56042;
  }
  #mainmenu .navbar-inner ul.nav > li.active > a,
  #mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
    background: #c0391a;
  }
  #mainmenu .jshoppping_modalcart_link {
    background: #7d5c11;
  }
}