/* Compiled Less CSS File */
/* Generated from "style5.css" */

/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element {
  width: 2px;
}
/* Import LESS variables and mixins files */
/***********************************************************************************************/
/* LESS VARIABLES */
/***********************************************************************************************/
/* responsive variables */
/***********************************************************************************************/
/* LESS MIXINS */
/***********************************************************************************************/
/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
  background-color: #14935a;
  text-shadow: 1px 1px 1px #083a23;
}
.btn.icebtn:hover,
p.readmore a.btn:hover {
  background-color: #1ac075;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #17aa67;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #17aa67;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #17aa67;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #17aa67;
}
.tooltip .tooltip-inner {
  background-color: #17aa67;
}
/* Joomla 
----------*/
.mailto-close a {
  background-color: #117d4c;
}
#search form .inputbox,
#search form .input-medium {
  border-color: #d1f9e7;
}
#search form .inputbox:focus,
#search form .input-medium:focus {
  border-color: #b6f5d9;
}
/* Extras 
---------*/
.iceslide_link {
  background-color: #17aa67;
  background-color: rgba(23, 170, 103, 0.75);
}
.iceslide_link:hover {
  background-color: #17aa67;
}
#iceslide .close {
  background-color: #17aa67;
  background-color: rgba(23, 170, 103, 0.75);
}
#iceslide .close:hover {
  background-color: #17aa67;
}
#gotop .scrollup {
  background-color: #c1d21c;
  background-color: rgba(193, 210, 28, 0.5);
}
#gotop.gotop_active .scrollup:hover {
  background-color: #c1d21c;
  background-color: rgba(193, 210, 28, 0.75);
}
p#icelogo a {
  background-image: url("../../images/styles/style5/icetheme.png");
}
#section-kmt h3.kmt-title {
  background-color: #117d4c;
  text-shadow: 1px 1px 1px #083a23;
}
body.page-pricing div.pricing-table .pricing-table-header {
  background: -moz-linear-gradient(top, #17aa67, #117d4c);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#17aa67), to(#117d4c));
  background: -webkit-linear-gradient(top, #17aa67, #117d4c);
  background: -o-linear-gradient(top, #17aa67, #117d4c);
  background: linear-gradient(to bottom, #17aa67, #117d4c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff17aa67', endColorstr='#ff117d4c', GradientType=0);
}
#weather span.weather-temp {
  color: #97a516;
}
#weather i {
  color: #d0e225;
}
/* Layout 
---------*/
#header {
  background: -moz-linear-gradient(top, #ecfcf5, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ecfcf5), to(#ffffff));
  background: -webkit-linear-gradient(top, #ecfcf5, #ffffff);
  background: -o-linear-gradient(top, #ecfcf5, #ffffff);
  background: linear-gradient(to bottom, #ecfcf5, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffecfcf5', endColorstr='#ffffffff', GradientType=0);
}
#header #header_right #header_contact [class^="icon-"] {
  color: #17aa67;
}
#usermenu {
  background: #17aa67;
}
#content:before {
  background: -moz-linear-gradient(top, #dffbee, #ffffff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dffbee), to(#ffffff));
  background: -webkit-linear-gradient(top, #dffbee, #ffffff);
  background: -o-linear-gradient(top, #dffbee, #ffffff);
  background: linear-gradient(to bottom, #dffbee, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdffbee', endColorstr='#ffffffff', GradientType=0);
}
#content #message {
  border-left-color: #117d4c;
}
#content #sidebar .sidebar_module {
  background: #ecfcf5;
  /* joomla menu on sidebar */

}
#content #sidebar .sidebar_module .sidebar_module_heading {
  border-left-color: #117d4c;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 {
  background: #117d4c;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #052315;
  border-bottom-color: #1ac075;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .icebtn {
  background: #1ac075;
  text-shadow: 1px 1px 1px #0b5031;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-1 .icebtn:hover {
  background: #2be28f;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 {
  background: #6e7810;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .sidebar_module_heading {
  text-shadow: 1px 1px 1px #1b1e04;
  border-bottom-color: #acbb19;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .icebtn {
  background: #acbb19;
  text-shadow: 1px 1px 1px #454b0a;
}
#content #sidebar .sidebar_module.sidebar_module_bg-color-2 .icebtn:hover {
  background: #d0e225;
}
#content #sidebar .sidebar_module ul.menu li a {
  border-bottom-color: #a5f3cf;
}
#content #sidebar .sidebar_module ul.menu li a:hover {
  background: #dffbee;
}
#content #sidebar .sidebar_module ul.menu li.active a {
  background: #dffbee;
}
#social_area {
  border-top-color: #d1f9e7;
  border-bottom: #d1f9e7;
  background: #ecfcf5;
}
#footer {
  background-color: #6e7810;
  background-image: url("../../images/styles/style5/footer.jpg");
}
#footer .moduletable .moduletable_heading {
  text-shadow: 1px 1px 1px #1b1e04;
}
#footer .moduletable .moduletable_heading span {
  color: #FFFF00;
}
#footer .moduletable .icebtn {
  background: #acbb19;
  text-shadow: 1px 1px 1px #454b0a;
}
#footer .moduletable .icebtn:hover {
  background: #d0e225;
}
#copyright {
  background-color: #070701;
  background-color: rgba(7, 7, 1, 0.25);
  border-top-color: #879314;
}
#copyright ul.menu li a:hover {
  background-color: #d0e225;
  background-color: rgba(208, 226, 37, 0.25);
}
/* MainMenu 
------------*/
#mainmenu .navbar-inner {
  background: #117d4c;
  background: -moz-linear-gradient(top, #17aa67, #117d4c);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#17aa67), to(#117d4c));
  background: -webkit-linear-gradient(top, #17aa67, #117d4c);
  background: -o-linear-gradient(top, #17aa67, #117d4c);
  background: linear-gradient(to bottom, #17aa67, #117d4c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff17aa67', endColorstr='#ff117d4c', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li > a {
  text-shadow: 1px 1px 1px #0b5031;
}
#mainmenu .navbar-inner ul.nav > li > a .caret {
  border-top-color: #42e59b;
  border-bottom-color: #42e59b;
}
#mainmenu .navbar-inner ul.nav > li.active > a {
  background: #17aa67;
  background: -moz-linear-gradient(top, #1dd783, #17aa67);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#1dd783), to(#17aa67));
  background: -webkit-linear-gradient(top, #1dd783, #17aa67);
  background: -o-linear-gradient(top, #1dd783, #17aa67);
  background: linear-gradient(to bottom, #1dd783, #17aa67);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1dd783', endColorstr='#ff17aa67', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.active:after {
  border-top-color: #17aa67;
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
  background: #17aa67;
  background: -moz-linear-gradient(top, #1dd783, #17aa67);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#1dd783), to(#17aa67));
  background: -webkit-linear-gradient(top, #1dd783, #17aa67);
  background: -o-linear-gradient(top, #1dd783, #17aa67);
  background: linear-gradient(to bottom, #1dd783, #17aa67);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1dd783', endColorstr='#ff17aa67', GradientType=0);
}
#mainmenu .navbar-inner ul.nav > li.dropdown.open > a .caret {
  border-top-color: #9cf1ca;
  border-bottom-color: #9cf1ca;
}
#mainmenu .dropdown-menu {
  background: #17aa67;
}
#mainmenu .dropdown-menu > li > a {
  text-shadow: 1px 1px 1px #0b5031;
}
#mainmenu .dropdown-menu > li > a:hover {
  background: #1ac075;
}
#mainmenu .dropdown-menu > li > a:after {
  border-left-color: #42e59b;
}
#mainmenu .dropdown-menu > li.active > a {
  background: #1ac075;
}
#mainmenu .dropdown-menu .divider {
  background: #0b5031;
  border-bottom-color: #2be28f;
}
#mainmenu .dropdown-menu .nav-header {
  color: #fff;
  text-shadow: 1px 1px 1px #0b5031;
  border-bottom: 1px dotted #2be28f;
}
#mainmenu .dropdown-submenu:hover > a {
  background: #1ac075;
}
/* IceSlideShow
---------------*/
#iceslideshow .carousel-indicators li.active {
  background: #97a516;
}
/* JoomShopping Extensions
---------------------------*/
.btn.icebtn.button_buy:before,
.btn.icebtn.button_detail:before,
.btn.icebtn.button_wishlist:before {
  background-color: #16a162;
}
.btn.icebtn.button_buy:hover,
.btn.icebtn.button_detail:hover,
.btn.icebtn.button_wishlist:hover {
  background-color: #117d4c;
}
.btn.icebtn.button_buy:hover:before,
.btn.icebtn.button_detail:hover:before,
.btn.icebtn.button_wishlist:hover:before {
  background-color: #1abc72;
}
.btn.icebtn.button_buy {
  background-color: #6e7810;
  text-shadow: 1px 1px 1px #303507;
}
.btn.icebtn.button_buy:before {
  background-color: #8f9c15;
}
.btn.icebtn.button_buy:hover {
  background-color: #6e7810;
}
.btn.icebtn.button_buy:hover:before {
  background-color: #a0ae17;
}
.btn.icebtn.button_detail {
  background-color: #117d4c;
}
.btn.icebtn.button_detail:before {
  background-color: #16a162;
}
.btn.icebtn.button_detail:hover {
  background-color: #117d4c;
}
.btn.icebtn.button_detail:hover:before {
  background-color: #1ac075;
}
.btn.icebtn.button_wishlist {
  background-color: #117d4c;
}
.btn.icebtn.button_wishlist:before {
  background-color: #16a162;
}
.btn.icebtn.button_wishlist:hover {
  background-color: #117d4c;
}
.btn.icebtn.button_wishlist:hover:before {
  background-color: #1ac075;
}
.jshop_product_detail .prod_buttons {
  background: #d8e74a;
  border-color: #d0e225;
}
.jshop_product_detail .prod_buttons input#quantity {
  border-color: #d0e225;
}
.jshop_product_detail div.review_item span.review_time span.icon-calendar {
  color: #6e7810;
}
.jshoppping_modalcart_link,
.jshoppping_modalcart_link:visited {
  background: #6e7810;
  background: -moz-linear-gradient(top, #97a516, #6e7810);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#97a516), to(#6e7810));
  background: -webkit-linear-gradient(top, #97a516, #6e7810);
  background: -o-linear-gradient(top, #97a516, #6e7810);
  background: linear-gradient(to bottom, #97a516, #6e7810);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff97a516', endColorstr='#ff6e7810', GradientType=0);
  text-shadow: 1px 1px 1px #303507;
}
span.jshoppping_modalcart_link,
span.jshoppping_modalcart_link:hover {
  text-shadow: 1px 1px 1px #303507;
}
.jshop_carousel .owl-theme .owl-controls .owl-buttons div {
  background-color: #117d4c;
  background-color: rgba(17, 125, 76, 0.25);
}
.jshop_carousel .owl-theme .owl-controls .owl-buttons div:hover {
  background-color: #117d4c;
  background-color: rgba(17, 125, 76, 0.5);
}
.jshop_list_category .jshop_list_category_inner_img a:hover:before,
.jshop_list_category .jshop_list_category_inner_img a:hover:after {
  background: #6e7810;
}
body .stars_no_active,
body .stars_active,
body div.star-rating,
body div.star-rating a {
  background-image: url("../../images/styles/style1/jshopping_stars.png");
}
/* Responsive Part */
@media only screen and (max-width: 979px) {
  #mainmenu.navbar .btn-navbar {
    background: #1dd783;
  }
  #mainmenu.navbar .btn-navbar:hover {
    background: #42e59b;
  }
  #mainmenu .navbar-inner ul.nav > li.active > a,
  #mainmenu .navbar-inner ul.nav > li.dropdown.open > a {
    background: #1ac075;
  }
  #mainmenu .jshoppping_modalcart_link {
    background: #6e7810;
  }
}