/* 
DO NOT DELETE THIS LINE
Necessary to check if StyleSheet has loaded  */
#dummy-element{width:2px;} 

/* Import LESS variables and mixins files */
@import "../vars.less";


/*********************************************************************************/
/* LESS VARIABLES */
/*********************************************************************************/
@bg_primary: 		      #7D1179;	
@bg_secondary: 		    #972C15;



/* Typography 
---------------*/
.btn.icebtn,
p.readmore a.btn {
	background-color:lighten(@bg_primary,5%);
	text-shadow:1px 1px 1px darken(@bg_primary,15%);
		
	&:hover {
		background-color:lighten(@bg_primary,15%);
	}

}

.tooltip {
	
	&.bottom .tooltip-arrow { 
		border-bottom-color:lighten(@bg_primary,10%);
	}
	&.top .tooltip-arrow    { 
		border-top-color:lighten(@bg_primary,10%);
	}
	&.left .tooltip-arrow   { 
		border-left-color:lighten(@bg_primary,10%);
	}
	&.right .tooltip-arrow  { 
		border-right-color:lighten(@bg_primary,10%);
	}
	.tooltip-inner {
		background-color:lighten(@bg_primary,10%);
	}
} 



/* Joomla 
----------*/
.mailto-close a {
	background-color:@bg_primary;
}

#search form {
	.inputbox,
	.input-medium {
		border-color:lighten(@bg_primary,62%);
			
		&:focus {
			border-color:lighten(@bg_primary,56%);
		}
	}
}



/* Extras 
---------*/
.iceslide_link {
	.hexBackgroundToRGBA(lighten(@bg_primary,10%), 0.75);
	
	&:hover {
		.hexBackgroundToRGBA(lighten(@bg_primary,10%), 1);
	}
}
	
#iceslide .close {
	.hexBackgroundToRGBA(lighten(@bg_primary,10%), 0.75);
		
	&:hover {
		.hexBackgroundToRGBA(lighten(@bg_primary,10%), 1);
	}
}	  
	  
#gotop {
	.scrollup {
		.hexBackgroundToRGBA(lighten(@bg_secondary,20%), 0.5);
	}
	
	&.gotop_active .scrollup {		
		&:hover {
			.hexBackgroundToRGBA(lighten(@bg_secondary,20%), .75);
		}
	}
}	   
	
	
p#icelogo a {
	background-image:url("../../images/styles/style4/icetheme.png");
}


#section-kmt {
	h3.kmt-title {
		background-color:@bg_primary;
		text-shadow: 1px 1px 1px darken(@bg_primary,15%);	
	}
}

body.page-pricing  div.pricing-table .pricing-table-header {
	#gradient .vertical(lighten(@bg_primary,10%),@bg_primary);
}

#weather {
	
	span.weather-temp {
		color:lighten(@bg_secondary,10%);	
	}
	
	i {
		color: lighten(@bg_secondary,25%);
	}
}


/* Layout 
---------*/

#header {
	#gradient .vertical (lighten(@bg_primary,68%),#fff);
}

#header #header_right #header_contact [class^="icon-"] {
	color:lighten(@bg_primary,10%);
}

#usermenu {
	background:lighten(@bg_primary,10%);
}


#content {
	
	&:before {
		#gradient .vertical (lighten(@bg_primary,65%),#fff);
	}
	
	#message {
		border-left-color:lighten(@bg_primary,0%);
	}

	#sidebar {
		
		.sidebar_module {
			background:lighten(@bg_primary,68%);
			
			.sidebar_module_heading {
				border-left-color: lighten(@bg_primary,0%);
			}
				
			&.sidebar_module_bg-color-1 {
				background:@bg_primary;
				
				.sidebar_module_heading {
					text-shadow:1px 1px 1px darken(@bg_primary,20%);
					border-bottom-color: lighten(@bg_primary,15%);
				}
				
				.icebtn {
					background:lighten(@bg_primary,15%);
					text-shadow:1px 1px 1px darken(@bg_primary,10%);
					
					&:hover {
						background:lighten(@bg_primary,25%);
					}
				}
			}
				
			&.sidebar_module_bg-color-2 {
				background:@bg_secondary;
				
				.sidebar_module_heading {
					text-shadow:1px 1px 1px darken(@bg_secondary,20%);
					border-bottom-color:lighten(@bg_secondary,15%);
				}
				
				.icebtn {
					background:lighten(@bg_secondary,15%);
					text-shadow:1px 1px 1px darken(@bg_secondary,10%);
					
					&:hover {
						background:lighten(@bg_secondary,25%);
					}
				}
			}
			
			
			/* joomla menu on sidebar */
			ul.menu li {
			
				a {
					border-bottom-color:lighten(@bg_primary,52%);
					
					&:hover {
						background:lighten(@bg_primary,65%);
					}
				}
				
				&.active a {
					background:lighten(@bg_primary,65%);
				}
			}
			
		}
	}		
}

#social_area {
	border-top-color: lighten(@bg_primary,62%);
	border-bottom:lighten(@bg_primary,62%);
	background:lighten(@bg_primary,68%);
}


#footer {
	background-color:@bg_secondary;
	background-image: url("../../images/styles/style4/footer.jpg");

	.moduletable {	
		
		.moduletable_heading {
			text-shadow:1px 1px 1px darken(@bg_secondary,20%);
			
			span {
				 color:#FFFF00;
			}
		}
		
		.icebtn {
			background:lighten(@bg_secondary,15%);
			text-shadow:1px 1px 1px darken(@bg_secondary,10%);
			
			&:hover {
				background:lighten(@bg_secondary,25%);
			}
		}
			
	}
}

#copyright {
	.hexBackgroundToRGBA(darken(@bg_secondary,25%), 0.25);
	border-top-color:lighten(@bg_secondary,6%);
	
	ul.menu li a:hover {
		.hexBackgroundToRGBA(lighten(@bg_secondary,25%), 0.25);
	}
}
	



/* MainMenu 
------------*/
#mainmenu {

	.navbar-inner {
		background:@bg_primary;
		#gradient .vertical(lighten(@bg_primary,10%),@bg_primary);
		
		ul.nav > li > a {
			text-shadow:1px 1px 1px darken(@bg_primary,10%);
					
			.caret {
				border-top-color:lighten(@bg_primary,30%);
				border-bottom-color: lighten(@bg_primary,30%);
			}
		}
				
		ul.nav > li.active {
				
			> a	{
				background:lighten(@bg_primary,10%);
				#gradient .vertical(lighten(@bg_primary,20%),lighten(@bg_primary,10%));
			}
					
			&:after {
				border-top-color: lighten(@bg_primary,10%);
			}
		}	
				
		ul.nav > li.dropdown.open > a	{
			background:lighten(@bg_primary,10%);
			#gradient .vertical(lighten(@bg_primary,20%),lighten(@bg_primary,10%));
			
			.caret {
				border-top-color:lighten(@bg_primary,50%);
				border-bottom-color: lighten(@bg_primary,50%);
			}
		}	
	}
	
	.dropdown-menu {
		background:lighten(@bg_primary,10%);
		
		> li {
			
			> a {
				text-shadow:1px 1px 1px darken(@bg_primary,10%);
				
				&:hover {
					background:lighten(@bg_primary,15%);
				}
				
				&:after {
					border-left-color: lighten(@bg_primary,30%);
				}
			}
			
			&.active > a {
				background:lighten(@bg_primary,15%);
			}
				
		}
		
		.divider {
			background: darken(@bg_primary,10%);
			border-bottom-color:lighten(@bg_primary,25%);
		}
		
		.nav-header {
			color:#fff;
			text-shadow:1px 1px 1px darken(@bg_primary,10%);
			border-bottom:1px dotted lighten(@bg_primary,25%);
		}
	}
	
	.dropdown-submenu {
		
		&:hover > a {
			background:lighten(@bg_primary,15%);
		}
	}
}



/* IceSlideShow
---------------*/
#iceslideshow .carousel-indicators li.active {
	background:lighten(@bg_secondary,10%);	
}		


		
		
/* JoomShopping Extensions
---------------------------*/
.btn.icebtn.button_buy,
.btn.icebtn.button_detail,
.btn.icebtn.button_wishlist {
	
	&:before {
		background-color:lighten(@bg_primary,8%);
	}
	
	&:hover {
		background-color:@bg_primary;
		
		&:before {
			background-color:lighten(@bg_primary,14%);
		}
	}
}

.btn.icebtn.button_buy {
	background-color:@bg_secondary;
	text-shadow:1px 1px 1px darken(@bg_secondary,15%);
	
	&:before {
		background-color:lighten(@bg_secondary,8%);
	}
	
	&:hover {
		background-color:@bg_secondary;
		
		&:before {
			background-color:lighten(@bg_secondary,12%);
		}
	}	
}

.btn.icebtn.button_detail {
	background-color:@bg_primary;
	
	&:before {
		background-color:lighten(@bg_primary,8%);
	}
	
	&:hover {
		background-color:@bg_primary;
		
		&:before {
			background-color:lighten(@bg_primary,15%);
		}
	}	
	
}

.btn.icebtn.button_wishlist {
	background-color:@bg_primary;

	&:before {
		background-color:lighten(@bg_primary,8%);
	}
	
	&:hover {
		background-color:@bg_primary;
		
		&:before {
			background-color:lighten(@bg_primary,15%);
		}
	}	
}

.jshop_product_detail {
	
	.prod_buttons {
		background:lighten(@bg_secondary,33%);
		border-color:lighten(@bg_secondary,25%);	
		
		input#quantity {
			border-color:lighten(@bg_secondary,25%);
		}
	}
	
	div.review_item span.review_time span.icon-calendar {
		color:@bg_secondary;
	}
}

.jshoppping_modalcart_link,
.jshoppping_modalcart_link:visited {
	background:@bg_secondary;
	#gradient .vertical(lighten(@bg_secondary,10%),@bg_secondary);
	text-shadow:1px 1px 1px darken(@bg_secondary,15%);
}

span.jshoppping_modalcart_link,
span.jshoppping_modalcart_link:hover {
	text-shadow:1px 1px 1px darken(@bg_secondary,15%);	
}

	
.jshop_carousel .owl-theme .owl-controls .owl-buttons {
		
	div {
		.hexBackgroundToRGBA(@bg_primary,.25);
		
		&:hover {
			.hexBackgroundToRGBA(@bg_primary,.5);
		}
	}			
}


.jshop_list_category {	
	
	.jshop_list_category_inner_img a {
		
		&:hover {
			
			&:before,
			&:after {
				background:@bg_secondary;
			}
		}
	}
}



body .stars_no_active,
body .stars_active,
body div.star-rating, 
body div.star-rating a {
	background-image:url("../../images/styles/style1/jshopping_stars.png");
}
	
	
	
	
/* Responsive Part */
@media only screen and (max-width: 979px) {
	
	#mainmenu {
		
		&.navbar .btn-navbar {
			background:lighten(@bg_primary,20%);
			
			&:hover {
				background:lighten(@bg_primary,30%);
			}				
			
		}
		
		.navbar-inner ul.nav > li.active > a,
		.navbar-inner ul.nav > li.dropdown.open > a {
			background:lighten(@bg_primary,15%);
		}

		.jshoppping_modalcart_link {
			background:@bg_secondary;
		}
	}
}













