/**
 * Popup stylesheet
 *
 * @package         NoNumber Framework
 * @version         14.7.5
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2014 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

body.nnpopup {
	padding: 0;
	.container-fluid {
		padding: 0 20px;
	}
	.subhead {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.page-title {
		text-align: left;
	}
	.header {
		margin-left: 0;
		margin-right: 0;
	}
	.btn-toolbar {
		margin-bottom: 3px;
	}
}
