/***********************************************************************************************/
/* Extended styles for IceTheme templates */
/***********************************************************************************************/

/* SlideShow module (CK slideshow)
-----------------------------------*/
#slideshow {
	background:lighten(@bg_primary,68%);
	
	.camera_caption {
		
		> div {
			background: #000;
			background: rgba(0, 0, 0, 0.75);
			border-radius:0!important;
			padding:13px 0;			
		}
		
		.camera_caption_title {
			font-family:"open Sans", Arial, Helvetica, sans-serif;
			font-weight: normal;
			font-size: 32px;
			line-height: 40px;
			text-align:center;
		}
		
		.camera_caption_desc {
			color:rgba(255,255,255,.75);
			font-size: 14px;
			line-height: 18px;
			margin-top: 2px;
			margin-bottom:4px;
			text-align:center;
			
			a {
				color:#fff;
				text-decoration:underline;
				.transition();
				
				&:hover {
					text-shadow:0 0 14px rgba(255,255,255,.7);
				}
			}
		}
	}
	
	.camera_prev, 
	.camera_next {
		background:none;
		width: 62px;
		height: 82px;
		margin-top:-31px;
	
		span {
			background: url("../images/slideshow_arrows.png") ;
			width: 62px;
			height: 82px;
			.transition();
		}
	}
		
	.camera_next > span {
		background-position:bottom;
	}
	
	.camera_commands {
		display:none!important;
	}
	
	.camera_prev {
		left:10px;
		
		span:hover {
			.translate(-2px,0);
		}
	}
	
	.camera_next {
		right:10px;
		
		span:hover {
			.translate(2px,0);
		}
	}
	
	.camera_loader {
		background:rgba(255,255,255,.9) url(../images/loading.gif) no-repeat center;
		border-radius:7px;
		border:none;
		height: 120px;
		width: 120px;
		left: 50%;
		margin: -45px 0 0 -60px;
		top: 50%;
		z-index: 3;
	}

}



/* Header image (instead of slideshow */
#slideshow .custom {
	text-align:center;
		
	p {
		margin-bottom:0;
	}
	
	img {
		
	}
	
}

/* newsletter on footer */
#footer input[type="text"],
#footer input[type="email"] {
  margin-top: 5px;
  width: 80%;
  box-shadow: none;
  border:none;
  
  &:focus {
	  box-shadow:0 0 12px darken(@bg_secondary,5%);
  }
}
#footer input[type="email"] {
  background-image: url(../images/icon_email.png);
  background-repeat: no-repeat;
  background-position: right center;
}

/* Weather Module */
#weather {
	float:right;
	margin: 10px 0 0;
	color:#888;
	
	span.weather-temp {
		display:inline-block;
		padding:0 4px;
		color:lighten(@bg_secondary,10%);	
	}
	
	i {
		color: lighten(@bg_secondary,25%);
		font-family: weather;
		font-size: 45px;
		font-weight: normal;
		font-style: normal;
		line-height: 1.0;
		height: 45px;
		width: 45px;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		margin-right: 5px;
	}

	.w-icon-0:before { content: ":"; }
	.w-icon-1:before { content: "p"; }
	.w-icon-2:before { content: "S"; }
	.w-icon-3:before { content: "Q"; }
	.w-icon-4:before { content: "S"; }
	.w-icon-5:before { content: "W"; }
	.w-icon-6:before { content: "W"; }
	.w-icon-7:before { content: "W"; }
	.w-icon-8:before { content: "W"; }
	.w-icon-9:before { content: "I"; }
	.w-icon-10:before { content: "W"; }
	.w-icon-11:before { content: "I"; }
	.w-icon-12:before { content: "I"; }
	.w-icon-13:before { content: "I"; }
	.w-icon-14:before { content: "I"; }
	.w-icon-15:before { content: "W"; }
	.w-icon-16:before { content: "I"; }
	.w-icon-17:before { content: "W"; }
	.w-icon-18:before { content: "U"; }
	.w-icon-19:before { content: "Z"; }
	.w-icon-20:before { content: "Z"; }
	.w-icon-21:before { content: "Z"; }
	.w-icon-22:before { content: "Z"; }
	.w-icon-23:before { content: "Z"; }
	.w-icon-24:before { content: "E"; }
	.w-icon-25:before { content: "E"; }
	.w-icon-26:before { content: "3"; }
	.w-icon-27:before { content: "a"; }
	.w-icon-28:before { content: "A"; }
	.w-icon-29:before { content: "a"; }
	.w-icon-30:before { content: "A"; }
	.w-icon-31:before { content: "6"; }
	.w-icon-32:before { content: "1"; }
	.w-icon-33:before { content: "6"; }
	.w-icon-34:before { content: "1"; }
	.w-icon-35:before { content: "W"; }
	.w-icon-36:before { content: "1"; }
	.w-icon-37:before { content: "S"; }
	.w-icon-38:before { content: "S"; }
	.w-icon-39:before { content: "S"; }
	.w-icon-40:before { content: "M"; }
	.w-icon-41:before { content: "W"; }
	.w-icon-42:before { content: "I"; }
	.w-icon-43:before { content: "W"; }
	.w-icon-44:before { content: "a"; }
	.w-icon-45:before { content: "S"; }
	.w-icon-46:before { content: "U"; }
	.w-icon-47:before { content: "S"; }

}


/* Social Icons 
------------------*/
.social_icons {
	text-align: center;

	ul {
		padding:0;
		margin: 16px 0;
		text-align:center;
		display:inline-block;
		
		li {
			list-style-type:none;
			display:inline-block;
			padding:0;
			margin:0;
		
			a {
				background-image:url(../images/social_icons.png);
				background-repeat:no-repeat;
				background-position:center;
				width:70px;
				height:80px;
				margin-right:2px;
				opacity:1;
				display: inline-block;
				.transition();
				
				span { 
					display:none; 
				}
			
				&:hover {
					.translate(0,-1px);
					opacity:1!important;
				}
			}
	
			&.social_facebook a {
				background-position:0 0; 
			}
						
			&.social_twitter a {
				background-position:-70px 0;
			}
			
			&.social_youtube a {
				background-position:-140px 0;
			}
			
			&.social_rss a {
				background-position:-210px 0;
			}
			
			 /* &.social_google a {
				background-position:-135px 0; 
			}
			
			&.social_linkedin a {
				background-position:-180px 0; 
			} */
			
		}
	}
}


/* Twitter latest feed */
#social_twitter {
	margin: 10px 0 0;
	
	ul {
		margin:0;
		list-style-type:none;
	}
	
	div.user {
		float: left;
		margin: 20px 20px 20px 0;
		
		img {
			border-radius:100%;
		}
		
		span {
			display:none;
		}
		
	}
	
	p.tweet {
		font-size: 20px;
		line-height: 34px;
		font-family:"Coming Soon",Courier, monospace;
		margin-bottom: 5px;
		
	}
	
	p.timePosted {
		display: inline-block;
		color:@grayLight;
		font-style: italic;
		font-size: 13px;
	}
	
	p.interact {
		display: inline-block;
		padding-left: 20px;
		font-style: italic;
		font-size: 13px;
		
		a {
			display:inline-block;
			padding-right:10px;
		}
	}
}
	
				
/* Preload effect for IceTheme Extensions */
.ice_preload {
	background:#fff;
	background:rgba(255,255,255,.85);
	position:absolute;
	z-index:999;
	width:100%;
	height:100%;
	left:0;
	top:0;
	
	.spinner {
	  margin: 200px auto 0;
	  width: 70px;
	  text-align: center;
	}
	
	.spinner > div {
	  width: 18px;
	  height: 18px;
	  background-color: @bg_secondary;
	
	  border-radius: 100%;
	  display: inline-block;
	  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	  animation: bouncedelay 1.4s infinite ease-in-out;
	  /* Prevent first frame from flickering when animation starts */
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	}
	
	.spinner .bounce1 {
	  -webkit-animation-delay: -0.32s;
	  animation-delay: -0.32s;
	}
	
	.spinner .bounce2 {
	  -webkit-animation-delay: -0.16s;
	  animation-delay: -0.16s;
	}
}


@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

		

/* Page Slide
-------------- */
.iceslide_link {
	z-index: 999;
	position:fixed;
	top:40%;
	left:0;
	.hexBackgroundToRGBA(lighten(@bg_primary,10%), 0.75);
	border-left: none;
	color: #555;
	cursor: pointer;
	font-size: 26px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	box-shadow: 0 0 12px rgba(0,0,0,.1);
	border: 1px solid rgba(255,255,255,.1);
	border-left: 0;
	border-radius:0 3px 3px 0;
	.transition();
	
	&:hover {
		.hexBackgroundToRGBA(lighten(@bg_primary,10%), 1);
	}
		
	span {
		background: url(../images/slide_icon.png) no-repeat center center;
		margin:0;
		display: inline-block;
		text-decoration:none;
		width: 100%;
		height: 100%;
		vertical-align: 0;
	}
	
	&:hover span { 
		-webkit-animation: icon_spin 2.5s linear infinite;
		-moz-animation:    icon_spin 2.5s linear infinite;
		-ms-animation:     icon_spin 2.5s linear infinite;
		-o-animation:      icon_spin 2.5s linear infinite;
		animation:         icon_spin 2.5s linear infinite;
	}

}	

#iceslide {
    display: none;
    position: fixed;
	overflow-x:scroll;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 280px;
    padding: 20px;
	background:#fff;
	box-shadow: 0 0 25px rgba(0,0,0,.2);
	
	h3 {
		margin-bottom:0;
	
	}
	
	.close {
		background: @bg_primary;
		font-size: 20px;
		font-weight: normal;
		line-height: 20px;
		color: #fff;
		text-shadow: none;
		opacity: 1;
		text-decoration: none;
		position: absolute;
		top: 10px;
		right: 6px;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		text-align: center;
		
		&:hover {
			background: lighten(@bg_primary,5%);
			cursor: pointer;
		}
	}
			
}
		
/* some fancy animation to wow the visitors */	
@-webkit-keyframes icon_spin {
	0%   {  -webkit-transform:rotate(0);}
	100% { -webkit-transform:rotate(360deg);}
}
@-moz-keyframes icon_spin {
	0%   {  -webkit-transform:rotate(0);}
	100% { -webkit-transform:rotate(360deg);}
}
@-ms-keyframes icon_spin {
	0%   {  -webkit-transform:rotate(0);}
	100% { -webkit-transform:rotate(360deg);}
}
@-o-keyframes icon_spin {
	0%   {  -webkit-transform:rotate(0);}
	100% { -webkit-transform:rotate(360deg);}
}
@keyframes icon_spin {
	0%   {  -webkit-transform:rotate(0);}
	100% { -webkit-transform:rotate(360deg);}
}




/* Go Top link 
-------------*/
#gotop {
	position:relative;
	z-index:9999;
	
	.scrollup {
		.hexBackgroundToRGBA(lighten(@bg_secondary,20%), 0.5);
		width: 45px;
		height: 40px;
		border-radius:0;
		bottom:-40px;
		right:15px;
		background-color:;
		text-indent: -9999px;
		position: fixed;
		z-index:99;
		opacity:0;
		.transition();
		
		&:after {
			content:"";
			width: 45px;
			height: 40px;
			top:0;
			left:0;
			position:absolute;
			background-image:url(../images/icon_top.png);
			background-repeat:no-repeat;
			background-position:center;
			.transition();
		}

		&:hover:after {
			.translate(0,-2px);
			opacity:1;
		}
	}
	
	&.gotop_active .scrollup {
		opacity:1;
		bottom:0;
		
		&:hover {
			.hexBackgroundToRGBA(lighten(@bg_secondary,20%), .75);
		}
			
	}
}


/* Copyright IceTheme logo (footer)
-----------------------------------*/	
p#icelogo { 
	padding:0 20px 0 0;
	margin:0;
	float:left;
				
	a {
		width:92px;
		height:45px;
		background:url("../images/icetheme.png") no-repeat;
		display:inline-block;
		margin:0;
		opacity:.75;
		.transition();
				
		&:hover {
			.translate(0,-2px);
			opacity:1;
		}
			
		span { 
			display:none;
		}
		
	}
	
}


					

/* YouTube Videos Responsive 
----------------------------*/
.video-container {
    position: relative;
    padding-bottom: 64%;
    padding-top: 30px;
	margin-bottom:10px;
	height: 0; 
	overflow: hidden;
 
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


/* Style Switcher
----------------- */	
ul#ice-switcher {
	position:fixed;
	width:180px;
	top:30%;
	background:#fff;
	background:rgba(255,255,255,.85);
	border-radius: 0;
	right:-170px;
	list-style-type:none;
	padding:5px 5px 0;
	opacity:.3;
	margin:0;
	z-index:99999;
	.transition();
	
	&:hover {
		right:-20px;
		opacity:1;
	}
	
	li {
		padding:0;
		margin:0;
		
		a {
			display:block;
			width:200px;
			font-family:Arial,Helvetica,sans-serif;
			height:30px;
			margin-bottom:5px;
			background:#222;
			color:#FFF;
			color:rgba(255,255,255,.75);
			.transition();
			
			span {
				padding-left:15px;
				line-height: 29px;
			}
		}
		
		&.active a,
		& a:hover {
			text-decoration:none;
			padding-top:20px;
			padding-bottom:20px;
		}
	
		
		&.style1 a {
			 background:#A93317; 
		}
		&.style2 a {
			 background:#1770A9;
		}
		&.style3 a {
			 background:#479915; 
		}
		&.style4 a { 
			background:#A917A5; 
		}
		&.style5 a {
			background:#14935A; 
		}
		&.style6 a {
			background:#4C4C4C; 
		}

	}
}

#overlay {
	display: none;
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:100000;
	background:rgba(0,0,0,.75);
		
	.ice_css3_loading {
		top:50%;
		font-size: 100px;
		width: 1em;
		height: 1em;
		position: relative;
		margin: -60px auto 0;
		border-radius: 50%;
		border: .01em solid rgba(255,255,255,.15);
		list-style: none;
			
		li {
			position: absolute;
			width: .2em;
			height: .2em;
			border-radius: 50%;

			&:nth-child(1) {
				left: 50%;
				top: 0;
				margin: 0 0 0 -.1em;
				background: #00C176;
				-webkit-transform-origin: 50% 250%;
				-moz-transform-origin: 50% 250%;
				-ms-transform-origin: 50% 250%;
				-o-transform-origin: 50% 250%;
				transform-origin: 50% 250%;
				-webkit-animation: 
					rota 1.13s linear infinite,
					opa 3.67s ease-in-out infinite alternate;
				-moz-animation: 
					rota 1.13s linear infinite,
					opa 3.67s ease-in-out infinite alternate;
				-ms-animation: 
					rota 1.13s linear infinite,
					opa 3.67s ease-in-out infinite alternate;
				-o-animation: 
					rota 1.13s linear infinite,
					opa 3.67s ease-in-out infinite alternate;
				animation: 
					rota 1.13s linear infinite,
					opa 3.67s ease-in-out infinite alternate;
			}
				
			&:nth-child(2) {
				top: 50%; 
				right: 0;
				margin: -.1em 0 0 0;
				background: #FF003C;
				-webkit-transform-origin: -150% 50%;
				-moz-transform-origin: -150% 50%;
				-ms-transform-origin: -150% 50%;
				-o-transform-origin: -150% 50%;
				transform-origin: -150% 50%;
				-webkit-animation: 
					rota 1.86s linear infinite,
					opa 4.29s ease-in-out infinite alternate;
				-moz-animation: 
					rota 1.86s linear infinite,
					opa 4.29s ease-in-out infinite alternate;
				-ms-animation: 
					rota 1.86s linear infinite,
					opa 4.29s ease-in-out infinite alternate;
				-o-animation: 
					rota 1.86s linear infinite,
					opa 4.29s ease-in-out infinite alternate;
				animation: 
					rota 1.86s linear infinite,
					opa 4.29s ease-in-out infinite alternate;
			}
			
			&:nth-child(3) {
				left: 50%; 
				bottom: 0;
				margin: 0 0 0 -.1em;
				background: #FABE28;
				-webkit-transform-origin: 50% -150%;
				-moz-transform-origin: 50% -150%;
				-ms-transform-origin: 50% -150%;
				-o-transform-origin: 50% -150%;
				transform-origin: 50% -150%;
				-webkit-animation: 
					rota 1.45s linear infinite,
					opa 5.12s ease-in-out infinite alternate;
				-moz-animation: 
					rota 1.45s linear infinite,
					opa 5.12s ease-in-out infinite alternate;
				-ms-animation: 
					rota 1.45s linear infinite,
					opa 5.12s ease-in-out infinite alternate;
				-o-animation: 
					rota 1.45s linear infinite,
					opa 5.12s ease-in-out infinite alternate;
				animation: 
					rota 1.45s linear infinite,
					opa 5.12s ease-in-out infinite alternate;
			}
			
			&:nth-child(4) {
				top: 50%; 
				left: 0;
				margin: -.1em 0 0 0;
				background: #88C100;
				-webkit-transform-origin: 250% 50%;
				-moz-transform-origin: 250% 50%;
				-ms-transform-origin: 250% 50%;
				-o-transform-origin: 250% 50%;
				transform-origin: 250% 50%;
				-webkit-animation: 
					rota 1.72s linear infinite,
					opa 5.25s ease-in-out infinite alternate;
				-moz-animation: 
					rota 1.72s linear infinite,
					opa 5.25s ease-in-out infinite alternate;
				-ms-animation: 
					rota 1.72s linear infinite,
					opa 5.25s ease-in-out infinite alternate;
				-o-animation: 
					rota 1.72s linear infinite,
					opa 5.25s ease-in-out infinite alternate;
				animation: 
					rota 1.72s linear infinite,
					opa 5.25s ease-in-out infinite alternate;
			} 
		}	
	}
}		

	
@-webkit-keyframes rota {
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rota {
	to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes rota {
	to { -ms-transform: rotate(360deg); }
}

@-o-keyframes rota {
	to { -o-transform: rotate(360deg); }
}

@keyframes rota {
	to { transform: rotate(360deg); }
}

@-webkit-keyframes opa {
	12.0% { opacity: 0.80; }
	19.5% { opacity: 0.88; }
	37.2% { opacity: 0.64; }
	40.5% { opacity: 0.52; }
	52.7% { opacity: 0.69; }
	60.2% { opacity: 0.60; }
	66.6% { opacity: 0.52; }
	70.0% { opacity: 0.63; }
	79.9% { opacity: 0.60; }
	84.2% { opacity: 0.75; }
	91.0% { opacity: 0.87; }
}

@-moz-keyframes opa {
	12.0% { opacity: 0.80; }
	19.5% { opacity: 0.88; }
	37.2% { opacity: 0.64; }
	40.5% { opacity: 0.52; }
	52.7% { opacity: 0.69; }
	60.2% { opacity: 0.60; }
	66.6% { opacity: 0.52; }
	70.0% { opacity: 0.63; }
	79.9% { opacity: 0.60; }
	84.2% { opacity: 0.75; }
	91.0% { opacity: 0.87; }
}

@-ms-keyframes opa {
	12.0% { opacity: 0.80; }
	19.5% { opacity: 0.88; }
	37.2% { opacity: 0.64; }
	40.5% { opacity: 0.52; }
	52.7% { opacity: 0.69; }
	60.2% { opacity: 0.60; }
	66.6% { opacity: 0.52; }
	70.0% { opacity: 0.63; }
	79.9% { opacity: 0.60; }
	84.2% { opacity: 0.75; }
	91.0% { opacity: 0.87; }
}

@-o-keyframes opa {
	12.0% { opacity: 0.80; }
	19.5% { opacity: 0.88; }
	37.2% { opacity: 0.64; }
	40.5% { opacity: 0.52; }
	52.7% { opacity: 0.69; }
	60.2% { opacity: 0.60; }
	66.6% { opacity: 0.52; }
	70.0% { opacity: 0.63; }
	79.9% { opacity: 0.60; }
	84.2% { opacity: 0.75; }
	91.0% { opacity: 0.87; }
}

@keyframes opa {
	12.0% { opacity: 0.80; }
	19.5% { opacity: 0.88; }
	37.2% { opacity: 0.64; }
	40.5% { opacity: 0.52; }
	52.7% { opacity: 0.69; }
	60.2% { opacity: 0.60; }
	66.6% { opacity: 0.52; }
	70.0% { opacity: 0.63; }
	79.9% { opacity: 0.60; }
	84.2% { opacity: 0.75; }
	91.0% { opacity: 0.87; }
}




/* Add this Plugin 
-------------------*/		
.joomla_add_this {
	opacity:.25;
	overflow:hidden;
	margin-bottom:20px;
	.transition();
	
	&:hover {
		opacity:1;
	}
		
	.addthis_button_facebook_like { 
		margin-right:20px;
	}
}


/* Facebook like box responsive */
#fb-root {
  display: none;
}

.fb_iframe_widget {
	 margin: 0 -10px;
}
 
.fb_iframe_widget, .fb_iframe_widget span, 
.fb_iframe_widget span iframe[style] {
  width: 100% !important;
 
}

	

/* Page Peel 
-------------*/
#peelback {
	position:relative;
	z-index:99999;
	
	&.peelback_fixed {
		position:fixed;
		top:0;
		right:0;
	}
}



/* Komento component 
----------------------*/
#section-kmt {
	
	h3.kmt-title {
		background:@bg_primary;
		color:#fff;
		text-shadow: 1px 1px 1px darken(@bg_primary,15%);			
		font-size: 16px;
		text-transform: initial;
	}
}

/* Komento module 
------------------*/
.kmt-mod {
	
	.mod-comment-text {
		font-size:14px;
		
		.mod-comment-page {
			font-size:12px;
		}
	}
}



/*  MijoPolls 
-------------*/
.mijopoll,
#poll_comp_form {
	padding: 0!important;
	  
	h4 {
		font-size: 18px;
		font-weight: normal;
		line-height: 26px;
	}
	  
	input[type="radio"], 
	input[type="checkbox"] {
		  margin-top: -3px;
		  margin-right: 1px;
	}
	
	.btn {
		margin-top:14px;	
	}
	
}


/***********************************************************************************************/
/*  Custom Pages */
/***********************************************************************************************/

/* About Us 
**************/
body.page-about {

	blockquote  {
		clear:both;
		margin:25px 0;
		background:#EFF0F0;
		text-align:center;
		padding:25px;
		border:none;
		
		p {
			font-size: 40px;
			line-height: 48px;
			font-family: Tangerine, Courier, monospace;
		}
		
		&:before {
			top: 20px;
			left:10px;
		}
		
		&:after {
			bottom: -10px;
			right: 10px;
		}
	}
	
	.page-team {
		text-align:center;
		
		h3 {
			margin: 0;
			text-align:center;
		}
		
		em {
			text-align: center;
			display: block;
			color: @grayLight;
			margin-bottom: 15px;
		}	
		
		ul {
			margin:0 0 40px;
			padding:0;
			
			li {
				display: inline-block;
				
				a {
					display: inline-block;
					width:20px;
					height:20px;
					border-radius:20px;
					background:#eee;
					color:#777;
					margin:0 2px;
					.transition();
					
					&:hover {
						color:@bg_primary;
					
					}
				}
			}
		}
		img:hover {
			opacity:.8;
			.transition();}
	}	
}
		


/* Contact Us Page
********************************/
body.page-contact {
	
	
	ul.icesocialblock {
		margin:0 0 40px;
		padding:0;
		
		li {
			display: inline-block;
			
			a {
				display: inline-block;
				width:45px;
				height:45px;
				line-height:45px;
				text-align: center;
				border-radius:45px;
				background:#eee;
				color:lighten(@bg_primary,0%);
				margin:0 2px;
				font-size:28px;
				.transition();
				
				&:hover {
					color:#444;
				
				}
			}
		}
	}
	
	
}

			
	
/* Pricing Table 
******************/
body.page-pricing {
	
	div.pricing-table {
		padding-top: 18px;
		
		.pricing-table-header {
			#gradient .vertical(lighten(@bg_primary,10%),@bg_primary);
			margin: -30px -20px 20px;
			padding: 0 20px;
			text-align: center;

			h2 {
				color:#fff;
				margin:0;
				padding: 0 0 15px;
				font-family:"Open Sans",Arial, Helvetica, sans-serif;
			}
			
			h3 {
				color:#fff;
				margin: 0;
				padding: 10px 0 0;
			}
			
		}
		
		.pricing-table-body {
		
		}
		
		.pricing-table-footer {
			border-top:1px dotted lighten(@grayLight,20%);
			padding-top: 16px;
			text-align:center;
			margin-bottom:-18px;		
		}
		
	}
}



/* F.A.Q
**************/
body.page-faq {
	
	.accordionfaq {
		
		.accordionfaqheader {
			background:#eee;
			border-color:#ccc;
			font-family:"Open Sans",Arial, Helvetica, sans-serif;
			font-size: 16px!important;
			padding-top: 7px !important;
			padding-bottom: 7px!important;
			
			a {
				font-weight:normal!important;
				background-color:transparent!important;
			}

		}
		
		.accordionfaqitem {
			background-color: #fff!important;
			padding: 0;
			
			P {
				padding: 10px 22px 5px;
				margin-bottom: 0;
			}
		}
	}
}
		


	
/* Portfolio Component
-------------------------------- */	
.portfolio-listpage-portfolio {
	
	.projects-filter {
		border-bottom: 1px dashed #d1d1d1;
		
		ul {
			li {
				padding: 0 4px 0 0;
				
				a:link,
				a:visited {
					padding: 8px 12px;
					font-size:14px;
					color:@grayLight;
					
					&:hover {
						background:none;
						color:@heading_color;
					}
					
					&.selected,
					&.selected:hover {
						background:lighten(@bg_primary,10%);
						color:#fff!important;
					}
				}
			}
		}
	}
	
	.projects-wrapper {
		
		.isotope-item {
			
			.project-img {
				margin-bottom:16px;
			}
			
			h4 {
				font-weight: normal;
				margin: 0 0 5px;

			}
			
		}
		
	}
	
}

.item-pagepage-portfolio {
	
	.project-nav {
		margin-top: -40px;
		
		a {
			background-color:lighten(@bg_primary,10%);
			
			&:hover {
				background-color:lighten(@bg_primary,20%);
			}
		}
	}
	
	.project-wrapper .flex-direction-nav li a {
		background-color:lighten(@bg_primary,10%);
		
		&:hover {
			background-color:lighten(@bg_primary,20%);
		}
	}
	
}


/* Photo Gallery (plugin)
-------------------------------- */	
ul.sige li .sige_thumb img {
	.transition();
	
	&:hover {
		opacity:.7;
	}
}

p.sige_small {
	margin-top:25px;
	font-size:13px;
	
	a {
		color:@grayLight;
	}
}



/* Offline Page and Error Page 
-------------------------------- */		
body.offline_page,
body.error_page {
	background:lighten(@bg_primary,68%);

	#logo_page {
		text-align:center;
		float:none;
		margin: 30px 0;
	}
	
	#content_page {
		max-width:600px;
		background:#fff;
		padding:40px;
		margin:0 auto 60px;
		border-radius:0;
		border:1px solid lighten(@bg_primary,62%);
		
		.alert_custom {
			margin-bottom:50px;
			font-size: 18px;
			text-align:center;
			line-height: 30px;
		}
		
	}
}
		
body.error_page {
	
	h2 {
		font-size: 28px;
		margin: 0 0 15px;
		border: none;
	}
	
	a.btn {
		color:@text_color;
	}
		
}
	
body.offline_page {
	
	h2 {
		margin:0 0 20px;
		padding:0;
		text-align:center;	
	}
	
	.alert {
		margin-bottom:40px;	
	}
	
	/* Countdown */
	ul#countdown {
		margin: 0;
		padding: 0 0 45px;
		text-align: center;

		li {
		  display: inline-block;
		  background:transparent;
		  border:5px solid #F1F1F2;
		  width: 104px;
		  margin: 0;
		  padding:0;
		  text-align: center;
		
			span {
				font-family: "Open Sans", Arial, Helvetica, sans-serif;
				font-size: 48px;
				color: #333;
				line-height: 40px;
				position: relative;
				padding-top: 20px;
				display: block;
				
			}
		
			p.timeRefDays,
			p.timeRefHours,
			p.timeRefMinutes,
			p.timeRefSeconds {
			  margin-top: 1em;
			  color: #909091;
			  text-transform: uppercase;
			  font-size: .875em;
			}
		}	
	}
	
	/* Login form */
	#offline_form_msg {
		margin-top:40px;		
	}
	
	#offline_login {
		display:none;		
	}
	
	/* Social Icons */
	#offline_social {
		margin:10px 0 30px;
		
		ul {
			margin: 0;
			padding: 0;
			text-align: center;
			
			li {
				display: inline-block;
				
				a {
					display: inline-block;
					width: 50px;
					height: 50px;
					border-radius: 50px;
					background: #F1F1F2;
					color: #777;
					margin: 0 2px;
					font-size: 28px;
					line-height: 50px;
					.transition();
					
					&:hover {
						color:@bg_primary;
					
					}
				}
			}
		}
	}
}




