/***********************************************************************************************/
/* IceSlideShow */
/***********************************************************************************************/

#iceslideshow {
	margin-bottom:45px;
	
	.iceslideshow {
		margin:0; 
	}

	
	/* captions */
	.carousel-caption {
		font-family:@heading_font;
		z-index:99;
		padding: 8px 15px 10px;
		
		.mod-description {
			color:#fff;
			text-align:left;	
			
			p {
				font-size:22px;
				line-height:26px;
			}
			
			a {
				color:#fff;
				text-decoration:none;
				
				&:hover {
					
				}
			}
			
		}
		
		h4 {
			padding-top:0;
			margin:0;
		}
	}
	
	&:hover .carousel-caption {
	}
	
	.item img {
	}
	
	/* fade transition */
	.carousel-fade {
		.carousel-inner {
			
			 .item {
				opacity: 0;
				-webkit-transition-property: opacity;
				-moz-transition-property: opacity;
				-o-transition-property: opacity;
				transition-property: opacity;
			}
						
			.active {
				opacity: 1;
				
				&.left,
				&.right {
					left: 0;
					opacity: 0;
					z-index: 1;
				}
			}
			
			.next.left,
			.prev.right {
				opacity: 1;
			}
		}
		
		.carousel-control {
			z-index: 2;
		}	
	}
	
	
	/* Controls (arrows) */
	.iceslideshow_arrow {
		
		.carousel-control {
			position:absolute;
			z-index:auto;
			width:50px;
			height:69px;
			top:auto;
			top:50%;
			margin-top: -50px;
			display: block;
			background:none;
			text-indent:-99999px;
			opacity:0;
			border:none;
			z-index:9;
			.scale(0);
			.transition();
			
			&.left {
				left:12px;
			}
			
			&.right {
				right:12px;
			}
			
			&:after  {
				content:"";
				position:absolute;
				left:0;
				top:0;
				width:50px;
				height:69px;
				background:url(../images/iceslideshow_arrows.png);
				background-position:center;
				background-repeat:no-repeat;
				.transition();
			} 
			
			&.left:after  {
				background-position: 0 0;
			} 
			
			&.left:hover:after  {
				.translate(-1.5px,0);
			}
			
			&.right:after  {
				background-position:0 -69px;
			}
			
			&.right:hover:after  {
				.translate(1.5px,0);
			}
			
					
		} 
		
	}
	
	.carousel:hover .carousel-control.left {
		opacity:1;
		.scale(1);
		
		&:hover {
		}
	}
	
	.carousel:hover .carousel-control.right {
		opacity:1;
		.scale(1);
		
		&:hover {
		}
	}
	
	
	
	/* Indicators */
	.carousel-indicators-container {
		position:relative;
	}
	
	.carousel-indicators {
		bottom: 16px;
		top: auto;
		right: 15px;
		z-index: 999;
		
		li {
			background:#fff;
			width: 13px;
			height: 13px;
			border:none;
			border-radius:13px;
			cursor:pointer;
			margin: 0 3px;
			.transition();
			
			&:hover {
				background:#fff;
			}
			
			&.active {
				background:lighten(@bg_secondary,10%);		
			}		
		}
	}
	
	.popover-content {
		width:140px;
		padding: 8px;
	}
	
}	


/* Fix styling for touch devices */
.with-touch #iceslideshow {

	.carousel-control{
		opacity:1;
		.scale(1);
	}
	
}



/* fade iceslideshow when menu is on hover */
.icemegamenu-hover {
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	-ms-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
	opacity:.15;
} 
