/***********************************************************************************************/
/* Joomla Content */
/***********************************************************************************************/

/* General */
dl.article-info {
	display:block;
	padding:0;
	font-size: 13px;
	margin:0 0 15px;	
	
	dl {
		padding:0;
		margin:0
	}
		
	dt.article-info-term {
		display:none;
	}
	
	dd {
		margin-left:0;
		margin-right:16px;
		display: inline-block;
		
		div {
			display:inline;
		}
	}	
}

.page-header {
	padding:0;
	margin:0;
	border:none;
}



/* Blog Layout */
.blog,
.blog-featured {
	
	.btn-group.pull-right {
		margin-top: -5px;
	}
	
	/* leading articles */
	.items-leading {
		
		[class*="leading"]{
			overflow:hidden;
			margin-bottom:30px;
					
			.page-header h2,
			.item-title {
				font-size: 32px;
				line-height: 40px;
				margin: 0 0 4px;
			}
			
		}
	}
	
	/* intro articles */
	.items-row {
		
		.item {
			margin-bottom:40px;
			overflow:hidden;
		
			.page-header {
				
				h2 {
					font-size: 22px;
					line-height: 32px;
					margin: 0 0 4px;
				}
			}
		}
		
		&:last-child .item {
		}	
		
		
	}
	
	.item-image {
		margin: 0 0 9px;
		
		&.pull-left {
			margin-right:15px;
		}
		
		&.pull-right {
			margin-left:15px;
		}
	}	
	
	
}



/* Category list */
.cat-items {
	
	.filters {
		margin-bottom:20px;
		
		label {
			padding-right:10px;
			vertical-align: middle;
		}
	}
	
	ul.category {
		padding:0;
		margin:0;
		list-style-type:none;
		
		li {
			border-bottom:1px solid #ccc;
			box-shadow:0 1px 0 #fff;
			padding:8px 0;
			
			small {
				color:#888;
			} 
		}
		
		span.list-hits {
			margin-top:11px;
		}
	}
	
	.btn {
		margin-top:20px;
	}
}


span.list-edit {
	margin-right:10px;
}


p.readmore {	
	
	a.btn {
		
		span.icon-chevron-right { 
			position: relative;
			margin-left:-5px;
			margin-right:6px;
			.transition();
			text-shadow:1px 1px 1px darken(@bg_primary,10%);
		}
		
		&:hover {
			
			span.icon-chevron-right {
				margin-left:-2px;
				margin-right:3px;
			}
		}
		
	}
}

	
/* tags new in joomla 3.1 */
.tags {
	 margin: -8px 0 10px;
	 
	 span a {
		text-shadow: none;
		color:#fff;
		color:rgba(255,255,255,.75);
		
		&:hover {
			color:#fff;
		}
	}
}

ul.category.list-striped.list-condensed {
	margin: 0;
	padding: 0;
	list-style: none;}
	


/* Content Rating  */
.content_rating {
	margin: 0 0 20px;
}

.item-page .content_rating {
	margin: 0;
	float:left;
	margin-right: 12px;
	
}

span.content_vote {
	display:block;
	margin: 15px 0;
	
	.element-invisible {
		color:@grayLight;
		padding-right:7px;
	}
	
	select {
		width:auto;
	}	
	
}



/***********************************************************************************************/
/* Joomla Components  */
/***********************************************************************************************/

/* Search and SmartSearch modules */
#search {
	margin-left:25px;
	position:relative;
	
	form {
		margin-bottom:0;
		
		label, br {
			display:none;
			margin:0;
		}
		
		.inputbox,
		.input-medium {
			font-family:Arial, Helvetica, sans-serif;
			background-color:#fff;
			border-radius:0;
			width: 150px;
			padding: 5px 35px 5px 10px;
			border:1px solid lighten(@bg_primary,62%);
			color:#999;
			box-shadow:none;
			margin:0;
			.transition();
			
			&:focus {
				color:@text_color;
				border-color:lighten(@bg_primary,56%);
				box-shadow:none
			}
		}
		
		.btn {
			background:url("../images/search_btn.png") no-repeat center 5px;
			text-indent:-99999em;
			padding: 0;
			width: 34px;
			line-height: 31px;
			opacity:.4;
			position:absolute;
			bottom:0;
			right:0;
			.transition();
			
			&:hover {
				opacity:.75;
			}
		} 
		
	}
}

body ul.autocompleter-choices {
}

body ul.autocompleter-choices li.autocompleter-selected {
}

body ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried {
}


/* Com Search */		
#searchForm{ 

	div.phrases-box {
		margin-bottom: 25px;
	}
	
	div.ordering-box {
		margin-bottom: 20px;
	}
	
	fieldset.only label {
	}
	
	div.form-limit {
		margin-bottom: 10px;
		
		label { 
		}
	}
}
		
		
dl.search-results {
	
	.small {
		font-size: 12px;
		font-style: italic;
		color: #777;
		padding-bottom: 3px;
		display: block;
	}
	
	.result-created { 
		padding-bottom: 30px; 
		font-size: 12px;
		text-align: right;
		color:#999;
	}
}




/***********************************************************************************************/
/* Joomla Module and Plugins  */
/***********************************************************************************************/

/* Breadcrumbs */
#breadcrumbs ul.breadcrumb {
	clear:both;
	font-size:13px;
	padding: 25px 0 0;
	margin: 60px 0 -33px;
	background:none;
	overflow:hidden;
	border-top:1px dashed lighten(@grayLight,25%);	
	position:relative;
	
	li {
		float:none;
		padding: 0;
		line-height: 28px;
		margin:0;
		text-shadow:none;
		
		&:nth-child(2) a {
			background-image:url(../images/breadcrumbs_home.png);
			background-repeat:no-repeat;
			background-position:top;
			display: inline-block;
			height:25px;
			width:25px;
			margin-top:2px;
			margin-right:0;
			text-indent:9999em;
			
			&:hover {
			}
			
			span {
				
			}
		}
		
		&.active {
			color:#999;
		}
	}
	
	> li >.divider {
		color:#999;
		padding-right: 12px;
		padding-left: 12px;
	}
}
 

/* Tooltips */
div.tip-wrap { 
	padding:10px ;
	margin-bottom: 2em;
	font-weight:normal;
	background: #222;
	border:1px solid #333;
	font-size:.9em;
	color:#ccc;}
	
	.tip {
		.tip-title {
			color: #fff;
			font-weight:normal;
			padding-bottom:3px;
			font-size:1.5em;
		}
		
		a {
			color:#408EDA;
		}
	}
 
 
/* Column menu */
#columns { 	
	 ul.nav li {
		float:none;
	}
}
	
	
	
/* Login Module */
form#login-form{
	
	#form-login-submit {
		margin:15px 0 20px;
	}
}

#loginModal.modal { 
	width:340px;
	margin-left:-180px;
}


/* Joomla default pagination */
.pagination {
	position:relative;
	overflow:hidden;
	padding-top:15px;
	margin:0;
	
	ul {
		border-left:1px solid #ddd;
		
		li {
			
			a {
				color:#999;
			
				&:hover {
					color:#333;
				}
			}
			
			&.active a{
				color:#333;
			}
			
			&.disabled { 
				display:none;
			}
		}	
	}
	
	p.counter {  
		float: right;
		color: #999;
		font-style: italic;
		font-size: 12px;
		padding-top: 2px;
		padding-right: 2px;
	}					  
}


/* Latest News */
ul.latestnews {
	margin-top:-3px;}

	#sidebar .sidebar_module ul.latestnews li {
		margin:12px 0;
		color:rgba(255,255,255,.6);
		
		a {
			color:#fff;
		}
	}				
					
/* multilanguage */
.mod-languages {
	padding-bottom: 15px;
	
	li {
		float: left;
		margin:0 0 0 9px!important;
		.transition();
		
		a { 
		
			img {
				
			 }
		}
		
		 &:hover {
			opacity:1!important;
		}
	}	
}


/* contact us */
.contact { min-height:600px;}


/* category module */
ul.category-module {
	margin: 0;
	padding:0;
	
	li {
		list-style-type:none;
		padding:0;
		margin:0 0 15px;
		
		> a { 
			font-family: "Open Sans", Arial, Helvetica, sans-serif;
			display:block;
			font-size:15px;
		}
		
		span {
			font-size:13px; 
			padding-right:14px; 
			color:@grayLight;
			padding: 3px 10px 5px 0;
			display: inline-block;
		}
	
	}
}


/* newsflash module */
div.newsflash {
	margin: 0;
	padding:0;
	
	.newsflash-title {
		font-size: 18px;
		font-weight: normal;
		line-height: 26px;
		margin-bottom: 5px;
	
	}
	
	.btn {
		margin-bottom:20px;
	}
}

/* newsflash module (carousel) */
.newsflash-carousel {
	padding-bottom:40px;
	
	.newsflash-carousel-item {
		
		img {
			.transition();
			width: 100px;
		}
		
		a:hover img {
			opacity:.7;
		}
	
	}
	
	ol.flex-control-nav {
		bottom:0;
		
		li {
			margin:0;
		
			a {
				background: #d6d6d6;
				width: 13px;
				height: 13px;
				border: none;
				border-radius: 13px;
				cursor: pointer;
				margin: 0 4px;
				box-shadow: none;
				.transition();
				
				&:hover {
					background:darken(#d6d6d6,7%);
				}
				
				&.flex-active {
					background:lighten(@bg_primary,10%);
				}
			}
		}
	
	}
}




/* Banner Module */
.bannergroup {
	
	.banneritem {
		.transition();	
			
		&:hover {
			.translate(0,-2px);
		}
	}	
	
}

/* Print and Email default joomla pages */
body.contentpane {
	padding: 20px;
	background:#fff;	
	
	#pop-print {
		position:absolute;
		top:20px;
		right:20px;
		
		a {
			
			&:hover {
				text-decoration:none;
			}
		}
	}
	
	#mailto-window {
		
		button {
			margin-top:10px;
		}
	}
	
	.mailto-close a {
		background:@bg_primary url(../images/system/icon_close.png) no-repeat center;
		font-size: 20px;
		font-weight: normal;
		line-height: 20px;
		color: #fff;
		text-shadow: none;
		opacity: 1;
		text-decoration: none;
		position: absolute;
		top: 10px;
		right: 6px;
		width: 20px;
		height: 20px;
		border-radius: 20px;
		text-align: center;
		
		span {
			display:none;
		}
		
		&:hover {
			background-color:lighten(@bg_primary,15%);
		}
	}
}


