/*********************************************************************************/
/* General  */
/*********************************************************************************/
body {
	background:#fff;
}


/*********************************************************************************/
/* HEADER */
/*********************************************************************************/
#header_wrap {
	position:relative;
}

#header {
	position:absolute;
	width:100%;
	top:30px;
	z-index:9;
	background:#fff;
	height:118px;
	border-radius:7px;
	#gradient .vertical (lighten(@bg_primary,68%),#fff);
	border:1px solid #fff;
	box-shadow:0 0 14px rgba(0,0,0,.25);
	
	#logo {
		float:left;
		margin:20px 0;
	} 
	
	#header_right {
		height:60px;
		margin-right:20px;
		
		#header_contact {
			float:right;
			font-size:14px;
			font-family:"Open Sans", @heading_font;
			padding-top: 9px;
			margin-left:28px;
			
			p {
				margin-bottom:0;
			}
			
			[class^="icon-"] {
				color:lighten(@bg_primary,10%);
				font-size: 18px;
				line-height: 18px;
				padding-right: 7px;
			}
		}
		
		#language {
			float:right;
			margin:20px 0 0 12px;	
		}
		
		#search {
			float:right;
			margin-top:14px;
		}
		
		#topmenu {
			float:right;
			padding-top: 9px;
		
			ul {
				list-style-type:none;
				margin:0;
				display:block;
				padding: 0;
			
				li {
					display:inline;
					position:relative;
					
					a {
						font-size:13px;
						padding: 0 0 0 16px;
						display:inline-block;
						margin:0; 
						.transition();
					
						&:hover {
							background:none;
							text-decoration:underline;
						}
					}
				}
			}
		}
	}
}	

/* when there is no slideshow or header image */
#header_no_slideshow {
	min-height: 180px;
	background:url("../images/header_noimage.jpg") no-repeat center top;
	background-size:cover;
}



/* UserMenu */	
#usermenu {
	background:lighten(@bg_secondary,10%);
	border-bottom:1px solid rgba(255,255,255,.4);
	overflow:hidden;
	text-align:right;
	padding: 0;
	margin:0;
	position: relative;
	
	ul {
		margin-bottom:0;
		padding:6px 0;
		
		li {
			display:inline-block;
			margin:0 0 0 15px;
			line-height:normal;
		
			a {
				font-size:13px;
				color:#fff;
				color:rgba(255,255,255,.75);
				.transition();
				
				&:hover {
					background:none;
					color:#fff;
					text-decoration:none;
				}				
			}
		}
	}
}	



/*********************************************************************************/
/* CONTENT */
/*********************************************************************************/
#content {
	position:relative;
	padding:45px 0 60px;
	margin:0;
	
	&:before {
		content:"";
		position:absolute;
		#gradient .vertical (lighten(@bg_primary,65%),#fff);
		height:220px;
		width:100%;
		top:1px;
		left:0;
		z-index: -9;
	}
	
	/* Message */
	#message {
		border-left:5px solid lighten(@bg_primary,0%);
		padding-left:18px;
		margin-bottom: 50px;
		
		h3 {
			margin-bottom: 0px;
		}
	}
	
	
	/* Middle Column */
	#middlecol { 
		clear:both;
		float:left;
		position:relative;
		margin-bottom: 0;
		min-height:380px;
		
		&.sidebar_left {
			float:right;		
		}
	}
	
	/* Sidebar */
	#sidebar {
		position: relative;
		
		&.sidebar_left {
			margin-left:0;		
		}
		
		/* Sidebar Modules */
		.sidebar_module {
			position: relative;
			padding:12px;
			margin-bottom:15px;
			background:lighten(@bg_primary,68%);
			
			&:last-child {
				margin-bottom:0;
			}
			
			.sidebar_module_heading {
				font-size: 24px;
				line-height:32px;
				margin:0 0 15px -12px;
				padding:0 0 0 12px;
				border-left:5px solid lighten(@bg_primary,0%);
				
				 span.heading_subtitle {
					display: block;
					font-size: 13px;
					font-family: Verdana, Arial, Geneva, sans-serif;
					padding: 0;
					line-height: 1.35em;
					color:@grayLight;
					margin-bottom: 0;
					margin-top: 0;
					text-shadow: none;
				}			
			}
			
			.sidebar_module_content { 
				padding:0;
			}
			
			.icebtn {
				
				&:hover {
					
				}
			}	
			
			
			/* (bg-color-1) module class suffix */
			&.sidebar_module_bg-color-1 {
				background:@bg_primary;
				color:#fff;
				
				.sidebar_module_heading {
					color:#fff;
					text-shadow:1px 1px 1px darken(@bg_primary,20%);
					border:none;
					border-bottom:1px dashed lighten(@bg_primary,15%);
					padding:0 0 12px;
					margin: 0 0 14px;
					
					 span.heading_subtitle {
						 color:#FFCC00;
					 }
				}
				
				.icebtn {
					background:lighten(@bg_primary,15%);
					color:#fff;
					text-shadow:1px 1px 1px darken(@bg_primary,10%);
					
					&:hover {
						background:lighten(@bg_primary,25%);
						color:#fff;
					}
				}
			
			}
				
			
			/* (bg-color-2) module class suffix */
			&.sidebar_module_bg-color-2 {
				background:@bg_secondary;
				color:#fff;
				
				.sidebar_module_heading {
					color:#fff;
					text-shadow:1px 1px 1px darken(@bg_secondary,20%);
					border:none;
					border-bottom:1px dashed lighten(@bg_secondary,15%);
					padding:0 0 12px;
					margin: 0 0 14px;
					
					 span.heading_subtitle {
						 color:#FFCC00;
					 }
				}
				
				.icebtn {
					background:lighten(@bg_secondary,15%);
					color:#fff;
					text-shadow:1px 1px 1px darken(@bg_secondary,10%);
					
					&:hover {
						background:lighten(@bg_secondary,25%);
						color:#fff;
					}
				}
			
			}
			
			
			/* joomla menu on sidebar */
			ul.menu li {
				line-height:34px;
			
				&.divider {
					display:none;}
					
				a {
					color:@text_color;
					padding:2px;
					border-bottom:1px dotted lighten(@bg_primary,52%);
					.transition(); 
					
					&:hover {
						background:lighten(@bg_primary,65%);
						padding-left:10px;
						text-decoration:none;
					}
				}
				
				&.active a {
					padding-left:10px;
					color:@heading_color;
					background:lighten(@bg_primary,65%);
				}
				
				&.dropdown-submenu > a:after {
					display:none;
				}
			}
		}
		
		
	}		
}


#promo {
	margin-bottom:15px;
	
	.moduletable {
		position: relative;
		padding:0;
		margin-bottom:20px;
		margin-top: 5px;
		
		.moduletable_heading {
			font-size: 24px;
			line-height: 32px;
			margin:0 0 2px;
			padding:0 0 10px;
			
			 span.heading_subtitle {
				display: block;
				font-size: 13px;
				font-family: Verdana, Arial, Geneva, sans-serif;
				padding: 0;
				line-height: 1.35em;
				color:@grayLight;
				margin-bottom: 0;
				margin-top: 2px;
				text-shadow: none;
			}			
		}
		
		.moduletable_content {
			
			h3 {
				margin-bottom:0;
			}
			
			a:hover img {
				.transition();
				-moz-filter: sepia(1);
				-webkit-filter: sepia(1);
 				 filter: sepia(1);
			}
		}
	}
}


/* Social Area (above footer) */
#social_area {
	border-top:1px solid lighten(@bg_primary,62%);
	border-bottom:1px solid lighten(@bg_primary,62%);
	background:lighten(@bg_primary,68%);
	padding:25px 0;
	margin-bottom: 50px;
	
	&.no-promo {
		margin-top: -45px;
	}
	
}


		
/*********************************************************************************/
/* FOOTER */
/*********************************************************************************/
#footer {
	position:relative;
	background:@bg_secondary url("../images/footer.jpg") no-repeat top;
	color:#fff;
	padding:35px 0 0;	

	/* footer module position */
	.moduletable {
		margin-top:15px;
		margin-bottom:45px;		
		
		.moduletable_heading {
			margin:0 0 2px;
			padding:0 0 10px;
			font-size:24px;
			line-height: 32px;
			color:#fff;
			text-shadow:1px 1px 1px darken(@bg_secondary,20%);
			
			span {
				display: block;
				font-size: 13px;
				font-family: Verdana, Arial, Geneva, sans-serif;
				padding: 0;
				 color:#FFCC00;
				line-height: 1.3em;
				margin-bottom: 0;
				margin-top: 0;
				text-shadow: none;
			}
		}
		
		.icebtn {
			background:lighten(@bg_secondary,15%);
			color:#fff;
			text-shadow:1px 1px 1px darken(@bg_secondary,10%);
			
			&:hover {
				background:lighten(@bg_secondary,25%);
				color:#fff;
			}
		}
			
	}
}

	
/* Copyright */
#copyright {
	.hexBackgroundToRGBA(darken(@bg_secondary,25%), 0.25);
	border-top:1px solid lighten(@bg_secondary,6%);
	position:relative;
	margin: 0;
	padding: 14px 0 6px;
	font-size:13px;
	
	p.copytext {
		float:left;
		padding:0;
		margin:12px 4px 0 0;
	}
	ul.menu {
		float:right;
		list-style-type:none;
		margin:12px 0 0;
		padding: 0;
	
		li {
			display:inline;
			position:relative;
			
			a {
				color:#fff;
				padding: 0 8px 2px;
				display:inline-block;
				margin:0 3px; 
				.transition();
				
				&:hover {
					.hexBackgroundToRGBA(lighten(@bg_secondary,25%), 0.25);
				}
			}
		}
	}
}
	
