/***********************************************************************************************/
/* MainMenu */
/***********************************************************************************************/

#mainmenu {
	float:right;
	clear:right;
	position:relative;
	margin-right:-1px;

	.navbar-inner {
		background:@bg_primary;
		#gradient .vertical(lighten(@bg_primary,10%),@bg_primary);
		box-shadow: none;
		border-radius: 0;
		border-bottom-right-radius:7px;
		border: none;
		padding: 0;
		
		ul.nav {
			
			> li {
				padding-right:5px;
				
				> a {
					font-family:"Open Sans", @heading_font;	
					color:#fff;
					text-shadow:1px 1px 1px darken(@bg_primary,10%);
					font-size: 17px;
					padding: 20px 8px;
					outline:none;
					.transition();
					
					.caret {
						border-top-color:lighten(@bg_primary,30%);
						border-bottom-color: lighten(@bg_primary,30%);
						margin-top: 10px;
					}
					
					&:hover {
						text-shadow:1px 1px 15px rgba(255,255,255,.75);
					}
				}
				
				&.active {
					position:relative;
					
					> a	{
						background:lighten(@bg_primary,10%);
						#gradient .vertical(lighten(@bg_primary,20%),lighten(@bg_primary,10%));
						box-shadow:none;
					}
					
					&:after {
						content: "";
						position: absolute;
						bottom: -7px;
						left: 50%;
						margin-left: -12px;
						width: 0; 
						height: 0; 
						border-left: 12px solid transparent;
						border-right: 12px solid transparent;
						border-top: 12px solid lighten(@bg_primary,10%);
						z-index:9;
					}
				}	
				
				&.dropdown.open > a	{
					background:lighten(@bg_primary,10%);
					#gradient .vertical(lighten(@bg_primary,20%),lighten(@bg_primary,10%));
					
					.caret {
						border-top-color:lighten(@bg_primary,50%);
						border-bottom-color: lighten(@bg_primary,50%);
						margin-top: 10px;
					}
				}	
				
			}
		}
	}
	
	
	.dropdown-menu {
		background:lighten(@bg_primary,10%);
		min-width: 180px;
		border-radius: 0;
		border: 0;
		margin:0;
				
		&:before,
		&:after {
			display:none!important;
		}
		
		> li {
			
			> a {
				padding: 4px 14px;
				color:#fff;
				text-shadow:1px 1px 1px darken(@bg_primary,10%);
				.transition();
				
				&:hover {
					background:lighten(@bg_primary,15%);
				}
				
				&:after {
					border-left-color: lighten(@bg_primary,30%);
					margin-right: -7px;
				}
			}
			
			&.active > a {
				background:lighten(@bg_primary,15%);
			}
				
		}
		
		.divider {
			background: darken(@bg_primary,10%);
			border-bottom-color:lighten(@bg_primary,25%);
		}
		
		.nav-header {
			color:#fff;
			text-shadow:1px 1px 1px darken(@bg_primary,10%);
			border-bottom:1px dotted lighten(@bg_primary,25%);
			font-size: 13px;
			padding: 2px 0;
			margin: 12px 14px 4px;
		}
	}
	
	
	.dropdown-submenu {
		
		&:hover > a {
			background:lighten(@bg_primary,15%);
		}
		
	}
	
}

	