/**********************************************************************************

	@copyright	Copyright (C) 2013 IceTheme. All Rights Reserved
	@license	Copyrighted Commercial Software 
	@author     IceTheme (icetheme.com)
	
**********************************************************************************/

// CSS Reset
@import "../../../../media/jui/less/reset.less";

// Core variables and mixins
@import "../../../../media/jui/less/variables.less";
@import "../../../../media/jui/less/mixins.less";

// Grid system and page structure
@import "../../../../media/jui/less/scaffolding.less";
@import "../../../../media/jui/less/grid.less";
@import "../../../../media/jui/less/layouts.less";

// Base CSS
@import "../../../../media/jui/less/type.less";
@import "../../../../media/jui/less/code.less";
@import "../../../../media/jui/less/forms.less";
@import "../../../../media/jui/less/tables.less";

// Components: common
// @import "../../../../media/jui/less/sprites.less";
@import "../../../../media/jui/less/dropdowns.less";
@import "../../../../media/jui/less/wells.less";
@import "../../../../media/jui/less/component-animations.less";
@import "../../../../media/jui/less/close.less";

// Components: Buttons & Alerts
@import "../../../../media/jui/less/buttons.less";
@import "../../../../media/jui/less/button-groups.less";
@import "../../../../media/jui/less/alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "../../../../media/jui/less/navs.less";
@import "../../../../media/jui/less/navbar.less";
@import "../../../../media/jui/less/breadcrumbs.less";
@import "../../../../media/jui/less/pagination.less";
@import "../../../../media/jui/less/pager.less";

// Components: Popovers
@import "../../../../media/jui/less/modals.less";
@import "../../../../media/jui/less/tooltip.less";
@import "../../../../media/jui/less/popovers.less";

// Components: Misc
@import "../../../../media/jui/less/thumbnails.less";
@import "../../../../media/jui/less/labels-badges.less";
@import "../../../../media/jui/less/progress-bars.less";
@import "../../../../media/jui/less/accordion.less";
@import "../../../../media/jui/less/carousel.less";
@import "../../../../media/jui/less/hero-unit.less";

// Utility classes
@import "../../../../media/jui/less/utilities.less";

// Extended for JUI
@import "../../../../media/jui/less/bootstrap-extended.less"; // Has to be last to override when necessary

// div.modal (instead of .modal)
@import "../../../../media/jui/less/modals.joomla.less";
#it-el{position: absolute; top: 0px; left: -5500px;}
// Icon Font
@import "icomoon.less";


/* IceTheme Template Less 
--------------------------- */
@import "vars.less";			     
@import "typography.less"; 				
@import "joomla.less"; 					
@import "extras.less"; 					
@import "layout.less";

@import "mainmenu.less";
@import "iceslideshow.less";
