/**********************************************************************************

	@copyright	Copyright (C) 2013 IceTheme. All Rights Reserved
	@license	Copyrighted Commercial Software 
	@author     IceTheme (icetheme.com)
	
**********************************************************************************/

/* Import LESS variables and mixins files */
@import "../../../../media/jui/less/variables.less";
@import "../../../../media/jui/less/mixins.less";

/* Import Template Variables */
@import "vars.less";

/* Responsive Utilities */
@import "../../../../media/jui/less/responsive-utilities.less";

// Phones to portrait tablets and narrow desktops
@import "../../../../media/jui/less/responsive-767px-max.less";

// Tablets to regular desktops
@import "../../../../media/jui/less/responsive-768px-979px.less";

// Large desktops
@import "../../../../media/jui/less/responsive-1200px-min.less";

// From 979px and below, show a button to toggle navbar contents
@import "../../../../media/jui/less/responsive-navbar.less";

// div.modal (instead of .modal)
@import "../../../../media/jui/less/responsive-767px-max.joomla.less";



/*********************************************************************************/
/* DESKTOP XL */
/*********************************************************************************/
@media @desktop_xl {
	
	#mainmenu .navbar-inner ul.nav > li > a {
		padding-left:13px;
		padding-right:13px;
	}
	
	#search form .inputbox, #search form .input-medium {
		width:190px;
	}
	
}



/*********************************************************************************/
/* DESKTOP */
/*********************************************************************************/
@media @desktop {
	
	/* NORMALLY, THIS PART IS ALREADY DEFINED (WHEN RESPONSIVE IS DISABLED) */
	
	#showcase {
		background-position:top center!important;
		background-attachment:scroll;
	}
	
}



/*********************************************************************************/
/* TABLET */
/*********************************************************************************/
@media @tablet {
	
	#header_wrap {
		width:auto;
	}
	
	#header {
		position:relative;
		top: 0;
		height: auto;
		border-radius: 0;
		width: auto;
		
		#logo {
			float:none;
			text-align:center;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
	
		#header_right #language {
		}
		
		#header_right #search {
		}
	}
	
	
	#mainmenu {
		float: left;
		width: 100%;
		margin: 0;
		
		&.navbar .btn-navbar {
			border-radius:0;
			background:lighten(@bg_primary,20%);
			border:none;
			margin: 7px;
			.transition();
			
			&:hover {
				background:lighten(@bg_primary,30%);
			}				
			
		}
		
		.navbar-inner {
			border-radius:0;
		}
		
		.navbar-inner ul.nav > li {
			padding:0 0 5px 0;
		}
		
		.navbar-inner ul.nav > li > a,
		.navbar-inner ul.nav > li > a:hover {
			background: none;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 12px;
			border-radius:0;
			margin:0;
		}
		
		.navbar-inner ul.nav > li.active > a,
		.navbar-inner ul.nav > li.dropdown.open > a {
			background:lighten(@bg_primary,15%);
		}
		
		.navbar-inner ul.nav > li.active:after {
			display:none;
		}
		
		.navbar-inner .dropdown-submenu > .dropdown-menu {
			display:block;
		}
		
		.navbar-inner .dropdown-submenu > a:after {
			display:none;
		}
		
	}
	
	
	.row-fluid #middlecol.span9 {
		width: 65.74585635359117%;
	}
	
	.row-fluid #sidebar.span3 {
		width: 31.491712707182323%;
	}
	
	
	#slideshow .camera_caption .camera_caption_title {
		font-size: 24px;
		line-height: 32px;
	}
	
	#slideshow .camera_caption > div {
		padding-top:5px;
		padding-bottom:5px;
	}
	
	#slideshow .camera_loader {
		top:35%;
		-ms-transform: scale(.75);
		-webkit-transform: scale(.75);
		transform: scale(.75);
	}
	
	#slideshow .camera_prev, 
	#slideshow .camera_next {
		margin-top:-70px;
		opacity: 1!important;
	}
	
	#slideshow .camera_prev span, 
	#slideshow .camera_next span {
		-ms-transform: scale(.75)!important;
		-webkit-transform: scale(.75)!important;
		transform: scale(.75)!important;
	}
	
	
	#slideshow .slideshowck.camera_wrap {
		min-height:280px;
	}
	
	#copyright ul.menu {
		clear: both;
		text-align: center;
		display: inline-block;
		width: 100%;
		margin: 15px 0;
	}
	
}



/*********************************************************************************/
/* PHONE */
/*********************************************************************************/
@media @phone {
	
	#usermenu,
	#header_wrap,
	#header,
	#content:before,
	#social_area,
	#footer,
	#copyright{
		margin-left:-20px;
		padding-left:20px;
		margin-right:-20px;
		padding-right:20px;
		
	}
	
	#header {
		width:auto;
		box-shadow:none;
		margin-bottom: 15px;
	}
		
	.row-fluid #middlecol.span9,
	.row-fluid #sidebar.span3 {
		width:100%;
	}
	
	#slideshow {
		margin-bottom:20px;
	}
	
	#peelback {
		display:none;
	}

	#content #sidebar {
		clear:both;
		padding-left:0;
		padding-right:0;
	}
	
	
	#gotop .scrollup {
		position: relative;
		width: auto;
		border-radius: 0;
		display: block;
		margin: 0 -20px;
		left: 0;
		bottom: 0!important;
		
		&:after {
			width:100%;
		}
	}
	
	.iceslide_link {
		display:none;
	}	
	
	ul#ice-switcher {
		display:none;
	}
	

	.ice_preload .spinner {
		margin-top:120px;
	}
	
	
		
}