/***********************************************************************************************/
/* GENERAL TYPOGRAPHY STYLES */
/***********************************************************************************************/
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
	font-family:"Panefresco 400wt Regular";
	src:url("../fonts/Panefresco400wtRegular.eot?") format("eot"),
	url("../fonts/Panefresco400wtRegular.woff") format("woff"),
	url("../fonts/Panefresco400wtRegular.ttf") format("truetype"),
	url("../fonts/Panefresco400wtRegular.svg#Panefresco400wt-Regular") format("svg");
	font-weight:normal;font-style:normal;
}


@font-face {
    font-family: 'weather';
    src: url('../fonts/artill_clean_icons-webfont.eot');
    src: url('../fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('../fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('../fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
	color: @text_color;
	font-family:@text_font;
	line-height:24px;
}

p { 
	margin-bottom:18px;
}

p.ice-headline,
.componentheading, 
h1,
h2,
h3, {
	font-family: @heading_font;
	color:@heading_color;
	font-weight: normal;
}

h1 {
	font-size: 36px;
	line-height: 50px;
	margin-bottom: 5px;
}

a {
	color:#0088cc;
	
	&:hover {
		color: darken(#0088cc,20%);
	}
	
	&:visited {
		color: #883EBA;
	}
}

.btn.icebtn,
p.readmore a.btn {
	position:relative;
	background:lighten(@bg_primary,5%);
	color: #fff;
	padding: 5px 16px;
	box-shadow: none;
	border: none;
	border-radius:0;
	text-shadow:1px 1px 1px darken(@bg_primary,15%);
	.transition();
	
	&:hover {
		background-color:lighten(@bg_primary,15%);
		color:#fff;
	}
	
}

.btn-primary:visited,
.btn-info:visited,
.btn-success:visited,	
.btn-warning:visited,	
.btn-danger:visited,	
.btn-inverse:visited {
	color:#fff;
}

input.btn.icebtn,
button.btn.icebtn{
	padding-left:12px;
}


address {
	margin-bottom:18px;
	line-height:24px;
}

.componentheading {
	font-size: 38.5px;
	line-height: 44px;
}
	
		
/* Tooltips */
.tooltip {
	font-size:15px;
	
	&.in {
		opacity:1!important;
	}
	
	&.bottom .tooltip-arrow { 
		border-bottom-color:lighten(@bg_secondary,10%);
	}
	
	&.bottom .tooltip-arrow {
		 border-bottom-color:lighten(@bg_secondary,10%);
	}
	
	&.top .tooltip-arrow    { 
		border-top-color:lighten(@bg_secondary,10%);
	}
	
	&.left .tooltip-arrow   { 
		border-left-color:lighten(@bg_secondary,10%);
	}
	
	&.right .tooltip-arrow  { 
		border-right-color:lighten(@bg_secondary,10%);
	}

	.tooltip-inner {
		text-shadow: 1px 1px 1px rgba(0,0,0,.25);
		background:lighten(@bg_secondary,10%);
	}
	
}

hr.ice-separator {
	border-top-color:#E8E8E8;
}

p.ice-headline {
	font-size: 3em;
	text-align: center;}

p.ice-subheadline {
	font-size: 1.1em;
	text-align: center;
	margin-top: -3px;
	margin-bottom: 18px;
	color: #888;}	

span.notice-typo {
	color: #888;}

ul.ice-check li, 
ul.ice-arrow li, 
ul.ice-cross li,
ul.ice-light li, 
ul.ice-star li, 
ul.ice-note li,
ul.ice-check2 li,
ul.ice-help li,
ul.ice-info li {
	list-style-type:none;
	background-repeat: no-repeat; 
	background-position: center left;
	padding: 4px 0 3px 28px}
	
	ul.ice-check li {
		background-image:url(../images/typo_check.png);}
	ul.ice-arrow li { 
		background-image:url(../images/typo_arrow.png);}
	ul.ice-cross li { 
		background-image:url(../images/typo_cross.png);}
	ul.ice-light li { 
		background-image:url(../images/typo_light.png);}
	ul.ice-star li { 
		background-image:url(../images/typo_star.png);}
	ul.ice-note li { 
		background-image:url(../images/typo_note.png);}	
	ul.ice-check2 li { 
		background-image:url(../images/typo_check2.png);}
	ul.ice-help li { 
		background-image:url(../images/typo_help.png);}
	ul.ice-info li { 
		background-image:url(../images/typo_info.png);}



blockquote {
	border:none;
	text-align:left;
	position:relative;
	margin: 40px 2.5em;
	padding:0;
	font-size: 20px;
	line-height: 34px;
	font-family:"Coming Soon",Courier, monospace;

	p {
		margin-bottom: 0;
		font-size:inherit;
		font-weight: inherit;
		line-height: inherit;
	}
	
	&:before {
		font-family:Georgia, "Times New Roman", Times, serif;
		color:#ccc;
		content:open-quote;
		font-size: 60px;
		position: absolute;
		top: -10px;
		left: -30px;
	}
						
	&:after {
		font-family:Georgia, "Times New Roman", Times, serif;
		color:#ccc;
		content:close-quote;
		font-size: 60px;
		position: absolute;
		bottom: -20px;
		right: 0;
	}	
}

	
.highlight {
	font-style: italic;
	color: #444;
	background: #FFC;
	padding: 0 .15em!important;
	font-weight: normal!important;
}

.dropcap {
	display: block;
	float: left;
	font: 6.2em Georgia,"Times New Roman",Times,serif;
	line-height:75%;
	padding: 5px 14px 0 0;
}

pre {
	border-radius:0;
	padding-left: 32px;
	border: 1px solid #9A9A9A;
	border-left: 4px solid #33353A;
	background: #FFFEF4;
}

.IceBlockTextLeft {
	float: left;
	text-align: left;
	display: block;
	font-size: 1.25em;
	font-style: italic;
	line-height: 1.7em;
	padding: 30px;
	width: 38%;
}

.IceBlockTextRight {
	float: right;
	text-align: right;
	display: block;
	font-size: 1.25em;
	font-style: italic;
	line-height: 1.7em;
	padding: 30px;
	width: 38%;
}
	
	
.ice-block1 {
	padding: 10px;
	border: 1px dashed #999;}
	
.ice-block2 {
	padding: 10px;
	background: #fff;
	border: 1px dotted #999;}	

.ice-block3 {
	padding: 10px;
	background: #FFFEF4;
	border: 1px solid #EAE8CC;}	
		
.ice-block4 {
	padding: 10px;
	background: #222;
	color: #ccc;
	border: 1px solid #222;}
	
.ice-block5 {
	padding: 10px;
	background: #eee;
	border: 1px solid #ccc;}	

.ice-block6 {
	padding: 10px;
	background: #CF8080;
	color: #fff;
	border: 1px solid #CF8080;}


div.success,
p.success, 
div.notice, 
p.notice, 
div.error,
p.error {
	padding: .6em 1em 0.6em 3.4em;
	border: 1px solid #fff;
	margin-bottom: 2em;
}
	
	div.notice, p.notice {
		color: #514721;
		background: #FFF6BF url(../images/typo_note.png) no-repeat 10px center;
		border: 1px solid #FFDE24;
	}

	div.success, p.success {
		color: #264409;
		background: #E6EFC2 url(../images/typo_success.png) no-repeat 10px center;
		border: 1px solid #CEE086;
	}
		
	div.error, p.error {
		color: #8A1F11;
		background: #FBE3E4 url(../images/typo_error.png) no-repeat 10px center;
		border: 1px solid #F5B7B8;
	}





